@import "../__vars";
@import "../__mixins";


.it-city__inner-wrap {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.it-city__img-box {
  position: absolute;
  left: 0;
  top: 50%;
  width: 8px;
  height: 9px;
  overflow: hidden;
  margin-top: -4.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.it-city__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-city__img-box--right {
  left: auto;
  right: 0;
  cursor: pointer;
}

.it-city__img-box--right.active {
  transform: rotate(180deg);
}

.it-city__label {
  font-size: 13px;
  padding: 16px 12px;
  display: block;
  cursor: pointer;
  user-select: none;
}


.it-city__input {
  font-size: 13px;
  padding: 16px 12px;
  color: #2C555D;
  background-color: #FAFAFA;
  width: 100%;
  line-height: 1.42;
  border: none;
  outline: none;
}

.it-city__input::-webkit-input-placeholder {
  color: #A0B0B9;
}

.it-city__input::-moz-placeholder {
  color: #A0B0B9;
}

.it-city__input:-ms-input-placeholder {
  color: #A0B0B9;
}

.it-city__input:-moz-placeholder {
  color: #A0B0B9;
}

.it-city__list-inner-wrap {
  position: absolute;
  top: 100%;
  right: 0;
  max-width: 400px;
  width: 100%;
  height: auto;
  max-height: 240px;
  margin: 0;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
}

.it-city__list {
  margin: 0;
  padding: 0;
}

.it-city__item {
  width: 100%;
  height: 40px;
  padding: 0 4px 0 16px;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
  line-height: 40px;
  overflow: hidden;
  cursor: pointer;
  list-style-type: none;
}

.it-city__item:hover {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 -1px rgba(0, 0, 0, 0.15) inset;
}

.it-city__item:last-child {
  box-shadow: none;
}

/* скроем стандартную стрелку */
.it-city__input::-webkit-calendar-picker-indicator {
  display: none;
}

.it-city__item--shadow-none {
  box-shadow: none;
}