

.it-detail-clinics {
  padding-top: 30px;
  @include phones {
    padding-top: 20px;
  }
}

.it-detail-clinics__item {
  display: grid;
  grid-template-columns: minmax(100px, 184px) 1fr;
  grid-gap: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  @include phones {
    grid-template-columns: auto;
  }
}


.it-detail-clinics__img-box {
  max-width: 184px;
  min-height: 164px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.it-detail-clinics__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-detail-clinics__title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
  color: $black;
  line-height: 1.2;
  display: block;
  text-decoration: none;
  @include tablets {
    font-size: 20px;
  }
}

.it-detail-clinics__title:active,
.it-detail-clinics__title:visited {
  text-decoration: none;
}

.it-detail-clinics__title:hover {
  color: $hov-text;
  text-decoration: none;
}

.it-detail-clinics__subtitle {
  font-size: 12px;
  color: #666666;
  margin-bottom: 20px;
}


