
.it-detail-clinics-nav {
  height: 100%;
  width: 100%;

}

.it-detail-clinics-nav__list {
  margin:  0 -5px;
  padding: 0;

}

.it-detail-clinics-nav__item {
  margin:  0 5px;
  list-style-type: none;
  padding-left: 0;
  width: auto;
}

.it-detail-clinics-nav__link {
  display: block;
  padding: 15px 35px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  @include laptop {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.it-detail-clinics-nav__item:hover  .it-detail-clinics-nav__text {
  color: $hov-text;
}

.it-detail-clinics-nav__item.active .it-detail-clinics-nav__link {
  background-color: $white;
  border-color: $main-color;
}

.it-detail-clinics-nav__link:active,
.it-detail-clinics-nav__link:visited {
  color: $main-color-text;
  text-decoration: none;
}

.it-detail-clinics-nav__link:hover {
  color: $hov-text;
  text-decoration: none;
}

.it-detail-clinics-nav__text {
  font-weight: 700;
  font-size: 18px;
  position: relative;
  display: inline-block;
  transition: 0.2s;
}

.it-detail-clinics-nav__numeric {
  position: absolute;
  top: -6px;
  right: -12px;
  font-size: 10px;
  color: $gray-dark;
}


.swiper-scrollbar--color .swiper-scrollbar-drag {
  background-color: $gray-dark;
}

