
.it-filter__wrap {
  margin: 0;
  padding: 0 0 0 20px;
  border-left: 1px solid #C3C3C3;
}

.it-select__input-wrap.active  .it-select__selectopt:checked + label  {
  z-index: 7;
}

.it-select__input-wrap.active  .it-select__label {
  z-index: 6;
}

.it-select__input-wrap.active .it-select__arrow {
  z-index: 8;
  transform: rotate(180deg);
}

//.it-select__wrap.active {
//  z-index: 999;
//}

.it-filter__item {
  list-style-type: none;
  padding: 0;
  position: relative;
  background-color: #ffffff;
}

.it-filter__item--dropdown {
  margin-bottom: 20px;
}

.it-filter__item:last-child {
  border-bottom: none;
  margin-bottom: 15px;
}

.it-filter__btn-title {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  cursor: pointer;
  padding: 10px 30px 10px 20px;
  border-bottom: 1px solid #C3C3C3;
  position: relative;
}

.it-filter__btn-title-arrow {
  position: absolute;
  top: 20px;
  right: 15px;
  margin-top: -2px;
  z-index: 2;
  pointer-events: none;
  max-width: 100%;
  transform: rotate(180deg);
}

.it-filter__btn-title-arrow.active {
  transform: rotate(0);
}

.it-filter__btn {
  width: 100%;
}

.it-filter__checkbox-wrap {
  margin: 20px 0 10px;
  padding: 0;
  overflow: hidden;
}

.it-filter__checkbox-item {
  list-style-type: none !important;
  padding-left: 20px;
  margin-bottom: 10px;
}

.it-filter__dropdown {
  position: relative;
  padding-bottom: 40px;
}

.it-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  text-align: left;
  position: relative;
  margin-bottom: 0;
}

.it-checkbox__default {
  width: .1px;
  height: .1px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0 !important;
  outline: 0 !important;
  background-color: transparent;
  opacity: 0;
}

.it-checkbox__pseudo,
.it-checkbox__pseudo:before {
  display: block;
  width: 20px;
  height: 20px;
}

.it-checkbox__pseudo {
  margin-right: 12px;
  position: relative;
  left: 0;
  top: 0;
  line-height: 5px;
  border: 1px solid #C4C4C4;
}

.it-checkbox__pseudo:before {
  content: '';
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: url(../images/base/check.svg) no-repeat center;
}

.it-checkbox__default:checked + .it-checkbox__pseudo:before {
  opacity: 1;
  transform: scale(1);
}

.it-select {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.it-select__input-wrap,
.it-select__wrap {
  position: relative;
  display: flex;
  width: 100%;
}



.it-select__outer-wrap {
  height: 300px;
  overflow: hidden;
  width: 100%;

}

.it-select__wrap {
  height: 100%;
  overflow: auto;
  position: relative;

}

.it-select__wrap.active {
  z-index: 20;
}

.it-select__input-wrap {
  flex-direction: column;
  height: 41px;
  border: 1px solid #C3C3C3;
  cursor: pointer;
  outline: 0;
}

.it-select__selectopt {
  opacity: 0;
  position: absolute;
  left: -99999px;
  flex-basis: 90px;
  display: flex;
  flex-wrap: wrap;
}

.it-select__selectopt:checked + label {
  order: 1;
  z-index: 4;
  position: relative;
}

/*
.it-select__selectopt:disabled:not(:checked) + label {
  background: #c3c3c3;
}*/

.it-select__label {
  min-height: 38px;
  display: block;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 3;
  transition: background .1s ease-in-out, color .1s ease-in-out;
  white-space: nowrap;
  line-height: 1.42;
  padding: 9px 20px;
  flex-basis: 100%;
  color: grey;
  margin-bottom: 0;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}


.it-select__text {
  display: block;
  user-select: none;
  font-size: 14px;
}


.it-select__label:hover {
  background-color: #F5F5F5;
}


.it-select__input-wrap:focus .it-select__label {
  position: relative;
  pointer-events: all;
  border-color: #C3C3C3;

}

.it-select__input-wrap:after,
.it-select__input-wrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
}

.it-select__arrow {
  position: absolute;
  top: 20px;
  right: 15px;
  margin-top: -2px;
  z-index: 5;
  pointer-events: none;
  max-width: 100%;
}


.it-select__wrap::-webkit-scrollbar { width: 3px; height: 3px;
  z-index: 20;}
.it-select__wrap::-webkit-scrollbar-track {  background-color: #999; z-index: 20;   position: relative;}
.it-select__wrap::-webkit-scrollbar-track-piece { background-color: #ffffff; z-index: 20;   position: relative;}

.it-select__wrap::-webkit-scrollbar-corner { background-color: #999; z-index: 20;   position: relative;}

.it-select__wrap::-webkit-scrollbar-thumb { height: 30px; background-color: $main-color; border-radius: 3px; z-index: 20;   position: relative;}


