$main-color: #179CA7;
$main-color-light: #D1EBEC;
$hov: #00BAE8;
$hov-text: #0056b3;
$main-color-text: #028097;

$link-color:  #1B94FF;


/*  gray */

$gray-dark: #666666;
$gray-middle: #C3C3C3;
$gray-light: #F4F4F4;
$hover-gray: #F5F5F5;

/*  black */

$black: #000000;

/*  white */

$white: #ffffff;

/*  red */

$red:   #B6343C;