input[type='checkbox'] {
	margin-right: 7px;
}

input[type='redio'] {
	margin-right: 7px;
}


input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder,
input::placeholder {
	//transform: translate3d(0, -30px, 0);
	//transition: all 0.2s ease-in;
	//display: block !important;
	color: #fafafa;
	
	-webkit-animation: inputPlaceholderIn 0.3s ease-in-out;
	animation: inputPlaceholderIn 0.3s ease-in-out;
}

@keyframes inputPlaceholderIn {
	0% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
		opacity: 1;
	}
	50% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
		opacity: .4;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}