body {
	&.modal-open > :not(.modal):not(.no-grayscale) {
		-webkit-filter: grayscale(0.4) blur(4px);
		-moz-filter: grayscale(0.4) blur(4px);
		-o-filter: grayscale(0.4) blur(4px);
		-ms-filter: grayscale(0.4) blur(4px);
		filter: grayscale(0.4) blur(4px);
		
		/*-webkit-filter: blur($base-blur);
		-moz-filter: blur($base-blur);
		-o-filter: blur($base-blur);
		-ms-filter: blur($base-blur);
		filter: blur($base-blur);*/
	}
	
	.modal-backdrop {
	
	}

	.modal-dialog {
		margin: 0 auto;
		//max-width: 450px;
	}
	
	.modal-content {
		border: 0;
		border-radius: $base-modal-radius;
		@include box-shadow(0px 15px 30px rgba(0,0,0,.1));
		
		.modal-header, .modal-body, .modal-footer {
			padding: 0;
			border: 0;
		}
		
		.modal-header {
			span {
				font-size: 12px;
				color: $text-info-gray-color;
			}
			
			.close {
				background: 0;
				padding: 0;
				margin: 0;
				border: 0;
				
				i {
					margin-left: 10px;
					font-size: 15px;
				}
			}
		}
		
		.modal-body {
			margin-top: 15px;
		}
	}
	
	.modal-backdrop {
		&.show {
			opacity: .3;
		}
	}
}