.author-link {
	display: flex;
	align-items: center;
	flex-direction: row;
	
	label {
		line-height: 1.5em;
		display: flex;
		color: $text-info-gray-color;
	}
	
	a {
		@include link-hover();
		
		display: flex;
		color: $link;
	}
	
	i {
		&:before {
			content: '';
			display: flex;
			background: var(--bg) no-repeat center;
			background-size: cover;
			border-radius: 50%;
			width: 42px;
			height: 42px;
			margin-right: 15px;
		}
	}
}