#popular-courses {
	margin-bottom: 90px;
}

.course-card {
	display: flex;
	position: relative;
	height: 100%;
	border: 1px solid $border-light-color;
	border-radius: $base-border-radius;
	padding: 25px 20px;
	
	&__logo {
		display: flex;
		align-items: center;
		
		a {
			display: flex;
			
			i {
				margin-right: 30px;
				min-width: 140px;
				min-height: 100px;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: contain;
			}
		}
	}
	
	&__header {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		&-title {
			min-height: 35px;
		}
		
		&-description {
			display: flex;
			justify-content: space-between;
			
			margin-top: 15px;
			
			span {
				font-size: 11px;
				
				i {
					margin-right: 7px;
				}
			}
			
			a {
				font-size: $base-font-size;
				color: $link;
			}
			
			span, a {
				margin-right: 25px;
			}
		}
		
		a {
			@include link-hover();
		}
	}
	
	&__price {
		flex-basis: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		
		margin-left: 15px;
		padding-left: 15px;
		border-left: 1px solid $border-light-color;
		
		label.sale {
			margin-bottom: 10px;
		}
	}
	
	&__vuz {
		display: flex;
		position: relative;
		margin-left: 15px;
		padding-left: 15px;
		border-left: 1px solid $border-light-color;
		
		a {
			@include link-hover();
			
			display: flex;
			align-items: center;
			font-size: 11px;
			font-weight: 300;
			
			i {
				margin-right: 15px;
				min-width: 32px;
				min-height: 32px;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: contain;
			}
		}
	}
	
	&__more {
		position: absolute;
		
		top: 5px;
		right: 15px;
		
		a {
			@include link-hover();
			
			font-size: 22px;
			color: $text-default-link;
		}
	}
}