section.it-article
	.it-container
		.it-article__outer-wrap
			.it-all-title
				|    Последние статьи
			ul.it-article__wrap
				li.it-article__item
					a(href="#").it-article__item-link
						.it-article__img-box
							img(src="assets/img/medvisor/article/content/1.jpg", alt='').it-article__img
						.it-article__content
							.it-article__content-top
								.it-article__title
									|    Принят новый закон о вводе в оборот лекарственных средств
								.it-article__desc
									|	Госдума приняла закон о порядке ввода в гражданский оборот лекарственных препаратов, сообщает РИА Новости. Он устанавливает механизм вывода на рынок лекарств производителями и импортерами посредством представления в Росздравнадзор сведений о качестве или получения соответствующего разрешения для иммунобиологических препаратов.
							.it-article__content-bottom
								.it-article__date
									|	18.12.2018
								.it-article__view
									.it-article__view-img-box
										img.it-article__view-img(src="assets/img/medvisor/base/eye.svg", alt='')
									.it-article__view-text
										|	4.2k
				li.it-article__item
					a(href="#").it-article__item-link
						.it-article__img-box
							img(src="assets/img/medvisor/article/content/2.jpg", alt='').it-article__img
						.it-article__content
							.it-article__content-top
								.it-article__title
									|    Минздрав меняет правила контроля за обеспечением безопасности донорской крови и ее компонентов
								.it-article__desc
									|    Проект Положения о госконтроле распределяет профильные медучреждения по категориям риска, от степени которого будет зависеть частота плановых проверок. Обязанность по проверке больниц и станций переливания крови остается за...
							.it-article__content-bottom
								.it-article__date
									|	18.12.2018
								.it-article__view
									.it-article__view-img-box
										img.it-article__view-img(src="assets/img/medvisor/base/eye.svg", alt='')
									.it-article__view-text
										|	12k
				li.it-article__item
					a(href="#").it-article__item-link
						.it-article__img-box
							img(src="assets/img/medvisor/article/content/2.jpg", alt='').it-article__img
						.it-article__content
							.it-article__content-top
								.it-article__title
									|    Минздрав меняет правила контроля за обеспечением безопасности донорской крови и ее компонентов
								.it-article__desc
									|    Проект Положения о госконтроле распределяет профильные медучреждения по категориям риска, от степени которого будет зависеть частота плановых проверок. Обязанность по проверке больниц и станций переливания крови остается за...
							.it-article__content-bottom
								.it-article__date
									|	18.12.2018
								.it-article__view
									.it-article__view-img-box
										img.it-article__view-img(src="assets/img/medvisor/base/eye.svg", alt='')
									.it-article__view-text
										|	12k
				li.it-article__item
					a(href="#").it-article__item-link
						.it-article__img-box
							img(src="assets/img/medvisor/article/content/2.jpg", alt='').it-article__img
						.it-article__content
							.it-article__content-top
								.it-article__title
									|    Минздрав меняет правила контроля за обеспечением безопасности донорской крови и ее компонентов
								.it-article__desc
									|    Проект Положения о госконтроле распределяет профильные медучреждения по категориям риска, от степени которого будет зависеть частота плановых проверок. Обязанность по проверке больниц и станций переливания крови остается за...
							.it-article__content-bottom
								.it-article__date
									|	18.12.2018
								.it-article__view
									.it-article__view-img-box
										img.it-article__view-img(src="assets/img/medvisor/base/eye.svg", alt='')
									.it-article__view-text
										|	12k
			a(href="#").it-all-link
				.it-all-link__text
					|    Показать все статьи
				.it-all-link__img-box
					img.it-all-link__img(src="assets/img/medvisor/base/arrows.png", alt='')

