.it-breadcrumbs
	.it-container
		.it-breadcrumbs__wrap
			.it-breadcrumbs__list
				a.it-breadcrumbs__link(href="#")
					|	Главная
				span.it-breadcrumbs__separator
					img.it-breadcrumbs__img(src="assets/img/medvisor/breadcrumbs/arrow.svg", alt='')
				span.it-breadcrumbs__text
					|	Медучреждения