.it-city
	.it-city__wrap
		.it-city__inner-wrap(data-city-inner-wrap data-target="#city_select_modal" data-toggle="modal")
			.it-city__img-box.it-city__img-box--left
				img(src="assets/images/city/location.svg", alt='')
			.it-city__label(for="city-input" data-city-label)
				| Тюмень
			.it-city__img-box.it-city__img-box--right(data-city-array)
				img(src="assets/images/city/arrow.svg", alt='')


