.it-city
	.it-city__wrap
		.it-city__img-box.it-city__img-box--left
			img(src="static/img/medvisor/city/location.svg", alt='')
		input.it-city__input(value="Тюмень")
		.it-city__img-box.it-city__img-box--right
			img(src="static/img/medvisor/city/arrow.svg", alt='')