section.it-clinics-detail
      .it-clinics-detail__wrap.it-all-indent
         .it-clinics-detail__item
            .it-clinics-detail__half.it-clinics-detail__half--left
               a(href="#").it-clinics-detail__img-box
                  img(src="assets/images/clinics-detail/content/1.jpg", alt='').it-clinics-detail__img
            .it-clinics-detail__half.it-clinics-detail__half--right
               .it-clinics-detail__content
                  .it-clinics-detail__subtitle
                     | Поликлиника детская
                  a(href="#").it-clinics-detail__title
                     |	ЧУЗ "Клиническая больница "РЖД-Медицина" города Тюмень"
                  .it-clinics-detail__stars
                     include stars
