section.it-clinics.it-clinics--color
		ul.it-clinics__wrap.it-clinics__wrap--size.it-all-min-indent
			li.it-clinics__item
				.it-clinics__half.it-clinics__half--left
					a(href="#").it-clinics__img-box
						img(src="static/img/medvisor/clinics/content/1.png", alt='').it-clinics__img
				.it-clinics__half.it-clinics__half--right
					.it-clinics__content
						a(href="#").it-clinics__title
							|	ЧУЗ "Клиническая больница "РЖД-Медицина" города Тюмень"
						.it-clinics__subtitle
							| Поликлиника детская
						.it-clinics__stars
							include stars
						.it-clinics__adress
							.it-clinics__adress-wrap
								.it-clinics__adress-half.it-clinics__adress-half--top
									|    Москва, Щелковское ш., д. 44, корп. 5
								.it-clinics__adress-half.it-clinics__adress-half--bottom
									|    район Северное Измайлово
					.it-clinics__metro
						ul.it-clinics__metro-list
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Тургеневская,,
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Чистые пруды,
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Сретенский бульвар,
					.it-clinics__info
						a(href="#modal-info"  data-fancybox data-it-info="modal-info1").it-clinics__info-inner-wrap
							.it-clinics__info-number
								|	+7 (499) 873...
							.it-clinics__info-text.it-clinics__info-text--mod1
								|	Показать телефон
						a(href="#modal-info"  data-fancybox data-it-info="modal-info2").it-clinics__info-inner-wrap
							.it-clinics__info-number
								|    Сегодня с 8:00 — 20:00
							.it-clinics__info-text.it-clinics__info-text--mod2
								|    Открыто
					.it-clinics__links
						ul.it-clinics__links-list
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									|	Услуги
									.it-clinics__links-numeric
										| 4
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									|	Филиалы
									.it-clinics__links-numeric
										| 2
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									| Отзывы
									.it-clinics__links-numeric
										| 12
			li.it-clinics__item
				.it-clinics__half.it-clinics__half--left
					a(href="#").it-clinics__img-box
						img(src="static/img/medvisor/clinics/content/1.png", alt='').it-clinics__img
				.it-clinics__half.it-clinics__half--right
					.it-clinics__content
						a(href="#").it-clinics__title
							|	ЧУЗ "Клиническая больница "РЖД-Медицина" города Тюмень"
						.it-clinics__subtitle
							| Поликлиника детская
						.it-clinics__stars
							include stars
						.it-clinics__adress
							.it-clinics__adress-wrap
								.it-clinics__adress-half.it-clinics__adress-half--top
									|    Москва, Щелковское ш., д. 44, корп. 5
								.it-clinics__adress-half.it-clinics__adress-half--bottom
									|    район Северное Измайлово
					.it-clinics__metro
						ul.it-clinics__metro-list
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Тургеневская,,
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Чистые пруды,
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Сретенский бульвар,
					.it-clinics__info
						a(href="#modal-info"  data-fancybox data-it-info="modal-info1").it-clinics__info-inner-wrap
							.it-clinics__info-number
								|	+7 (499) 873...
							.it-clinics__info-text.it-clinics__info-text--mod1
								|	Показать телефон
						a(href="#modal-info"  data-fancybox data-it-info="modal-info2").it-clinics__info-inner-wrap
							.it-clinics__info-number
								|    Сегодня с 8:00 — 20:00
							.it-clinics__info-text.it-clinics__info-text--mod2
								|    Открыто
					.it-clinics__links
						ul.it-clinics__links-list
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									|	Услуги
									.it-clinics__links-numeric
										| 4
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									|	Филиалы
									.it-clinics__links-numeric
										| 2
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									| Отзывы
									.it-clinics__links-numeric
										| 12
			li.it-clinics__item
				.it-clinics__half.it-clinics__half--left
					a(href="#").it-clinics__img-box
						img(src="static/img/medvisor/clinics/content/1.png", alt='').it-clinics__img
				.it-clinics__half.it-clinics__half--right
					.it-clinics__content
						a(href="#").it-clinics__title
							|	ЧУЗ "Клиническая больница "РЖД-Медицина" города Тюмень"
						.it-clinics__subtitle
							| Поликлиника детская
						.it-clinics__stars
							include stars
						.it-clinics__adress
							.it-clinics__adress-wrap
								.it-clinics__adress-half.it-clinics__adress-half--top
									|    Москва, Щелковское ш., д. 44, корп. 5
								.it-clinics__adress-half.it-clinics__adress-half--bottom
									|    район Северное Измайлово
					.it-clinics__metro
						ul.it-clinics__metro-list
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Тургеневская,,
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Чистые пруды,
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Сретенский бульвар,
					.it-clinics__info
						a(href="#modal-info"  data-fancybox data-it-info="modal-info1").it-clinics__info-inner-wrap
							.it-clinics__info-number
								|	+7 (499) 873...
							.it-clinics__info-text.it-clinics__info-text--mod1
								|	Показать телефон
						a(href="#modal-info"  data-fancybox data-it-info="modal-info2").it-clinics__info-inner-wrap
							.it-clinics__info-number
								|    Сегодня с 8:00 — 20:00
							.it-clinics__info-text.it-clinics__info-text--mod2
								|    Открыто
					.it-clinics__links
						ul.it-clinics__links-list
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									|	Услуги
									.it-clinics__links-numeric
										| 4
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									|	Филиалы
									.it-clinics__links-numeric
										| 2
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									| Отзывы
									.it-clinics__links-numeric
										| 12
			li.it-clinics__item
				.it-clinics__half.it-clinics__half--left
					a(href="#").it-clinics__img-box
						img(src="static/img/medvisor/clinics/content/1.png", alt='').it-clinics__img
				.it-clinics__half.it-clinics__half--right
					.it-clinics__content
						a(href="#").it-clinics__title
							|	ЧУЗ "Клиническая больница "РЖД-Медицина" города Тюмень"
						.it-clinics__subtitle
							| Поликлиника детская
						.it-clinics__stars
							include stars
						.it-clinics__adress
							.it-clinics__adress-wrap
								.it-clinics__adress-half.it-clinics__adress-half--top
									|    Москва, Щелковское ш., д. 44, корп. 5
								.it-clinics__adress-half.it-clinics__adress-half--bottom
									|    район Северное Измайлово
					.it-clinics__metro
						ul.it-clinics__metro-list
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Тургеневская,,
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Чистые пруды,
							li.it-clinics__metro-item
								.it-clinics__metro-circle
								.it-clinics__metro-text
									|    Сретенский бульвар,
					.it-clinics__info
						a(href="#modal-info"  data-fancybox data-it-info="modal-info1").it-clinics__info-inner-wrap
							.it-clinics__info-number
								|	+7 (499) 873...
							.it-clinics__info-text.it-clinics__info-text--mod1
								|	Показать телефон
						a(href="#modal-info"  data-fancybox data-it-info="modal-info2").it-clinics__info-inner-wrap
							.it-clinics__info-number
								|    Сегодня с 8:00 — 20:00
							.it-clinics__info-text.it-clinics__info-text--mod2
								|    Открыто
					.it-clinics__links
						ul.it-clinics__links-list
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									|	Услуги
									.it-clinics__links-numeric
										| 4
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									|	Филиалы
									.it-clinics__links-numeric
										| 2
							li.it-clinics__links-item
								a.it-clinics__links-link(href="#")
									| Отзывы
									.it-clinics__links-numeric
										| 12
		a(href="#").it-clinics__more
			span.it-clinics__more-text
				|	Показать еще