section.it-detail-clinics-nav.swiper-container(data-scroll-wrap-x)
	ul.it-detail-clinics-nav__list.swiper-wrapper
		li.it-detail-clinics-nav__item.swiper-slide.active
			a(href="med.html").it-detail-clinics-nav__link
				span.it-detail-clinics-nav__text
					|	Информация
					.it-detail-clinics-nav__numeric
						|
		li.it-detail-clinics-nav__item.swiper-slide
			a(href="med.html").it-detail-clinics-nav__link
				span.it-detail-clinics-nav__text
					|	Филиалы
					.it-detail-clinics-nav__numeric
						| 4
		li.it-detail-clinics-nav__item.swiper-slide
			a(href="med.html").it-detail-clinics-nav__link
				span.it-detail-clinics-nav__text
					|	Врачи
					.it-detail-clinics-nav__numeric
						| 8
		li.it-detail-clinics-nav__item.swiper-slide
			a(href="med.html").it-detail-clinics-nav__link
				span.it-detail-clinics-nav__text
					|	Услуги
					.it-detail-clinics-nav__numeric
						| 24
		li.it-detail-clinics-nav__item.swiper-slide
			a(href="med.html").it-detail-clinics-nav__link
				span.it-detail-clinics-nav__text
					|	Документы
					.it-detail-clinics-nav__numeric
						|
		li.it-detail-clinics-nav__item.swiper-slide
			a(href="med.html").it-detail-clinics-nav__link
				span.it-detail-clinics-nav__text
					|	Отзывы
					.it-detail-clinics-nav__numeric
						| 12
	.swiper-scrollbar