section.detail-clinics-list
	.it-all-title.it-all-title--detail
		|	Специализация
	ul.detail-clinics-list__list
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Неврология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Маммология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Онкология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Венерология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Дерматология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Неврология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Маммология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Онкология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Венерология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Дерматология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Неврология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Маммология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Онкология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Венерология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Дерматология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Неврология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Маммология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Онкология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Венерология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Дерматология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Неврология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Маммология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Онкология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Венерология
		li.detail-clinics-list__item
			a.detail-clinics-list__link(href="#")
				|	Дерматология