section.it-detail-clinics-map
	.it-detail-clinics-map__wrap
		.it-detail-clinics-map__half.it-detail-clinics-map__half--left
			.it-detail-clinics-map__inner-wrap
				|	Тут будет карта
		.it-detail-clinics-map__half.it-detail-clinics-map__half--right
			.it-detail-clinics-map__content
				.it-detail-clinics-map__title
					|	г. Тюмень ул. Магнитогорская, 8
				.it-detail-clinics-map__district
					|	район Красносельский
				.it-detail-clinics-map__metro
					ul.it-detail-clinics-map__metro-list
						li.it-detail-clinics-map__metro-item
							.it-detail-clinics-map__metro-circle(style="background-color: #FF801F;")
							.it-detail-clinics-map__metro-text
								|    Тургеневская (390 м)
						li.it-detail-clinics-map__metro-item
							.it-detail-clinics-map__metro-circle(style="background-color: #E82F2F;")
							.it-detail-clinics-map__metro-text
								|    Чистые пруды (570 м)
						li.it-detail-clinics-map__metro-item
							.it-detail-clinics-map__metro-circle(style="background-color: #9FC000;")
							.it-detail-clinics-map__metro-text
								|    Сретенский бульвар (920 м)
				.it-detail-clinics-map__time
					ul.it-detail-clinics-map__time-wrap
						li.it-detail-clinics-map__time-item
							.it-detail-clinics-map__time-day
								|  пн:
							.it-detail-clinics-map__time-timing
								| 08:00 — 20:00
						li.it-detail-clinics-map__time-item
							.it-detail-clinics-map__time-day
								|  Вт:
							.it-detail-clinics-map__time-timing
								| 08:00 — 20:00
						li.it-detail-clinics-map__time-item
							.it-detail-clinics-map__time-day
								|  Ср:
							.it-detail-clinics-map__time-timing
								| 08:00 — 20:00
						li.it-detail-clinics-map__time-item
							.it-detail-clinics-map__time-day
								|  Чт:
							.it-detail-clinics-map__time-timing
								| 08:00 — 20:00
						li.it-detail-clinics-map__time-item
							.it-detail-clinics-map__time-day
								|  Пт:
							.it-detail-clinics-map__time-timing
								| 08:00 — 20:00
						li.it-detail-clinics-map__time-item
							.it-detail-clinics-map__time-day
								|  Сб:
							.it-detail-clinics-map__time-timing
								| 08:00 — 14:00
						li.it-detail-clinics-map__time-item
							.it-detail-clinics-map__time-day
								|  Вс:
							.it-detail-clinics-map__time-timing
								| Выходной
				.it-detail-clinics-map__phone
					ul.it-detail-clinics-map__phone-wrap
						li.it-detail-clinics-map__phone-item
							a(href="tel:+1234567890").it-detail-clinics-map__phone-link
								|  +7 (945) 22-33-44
						li.it-detail-clinics-map__phone-item
							a(href="tel:+1234567890").it-detail-clinics-map__phone-link
								|  +7 (945) 22-33-44
						li.it-detail-clinics-map__phone-item
							a(href="tel:+1234567890").it-detail-clinics-map__phone-link
								|  +7 (945) 22-33-44
				a.it-detail-clinics-map__link.it-detail-clinics-map__link--link(href="/hospitals/642456")
					|	http://medvisor.ru/hospitals/642456
				a.it-detail-clinics-map__link.it-detail-clinics-map__link--mail(href="mailto:	rjdmed@mail.ru")
					|	rjdmed@mail.ru



