section.it-detail-clinics
   .it-container
      .it-detail-clinics__wrap.it-all-indent
         .it-detail-clinics__item
            .it-detail-clinics__half.it-detail-clinics__half--left
               a(href="#").it-detail-clinics__img-box
                  img(src="assets/images/detail-clinics/content/1.jpg", alt='').it-detail-clinics__img
            .it-detail-clinics__half.it-detail-clinics__half--right
               .it-detail-clinics__content
                  .it-detail-clinics__subtitle
                     | Поликлиника детская
                  a(href="#").it-detail-clinics__title
                     |	ЧУЗ "Клиническая больница "РЖД-Медицина" города Тюмень"
                  .it-detail-clinics__stars
                     include stars
