.it-detail-clinics-block
   .it-container
      .it-detail-clinics-block__outer-wrap
         include detail-clinics-nav
         include detail-clinics-info
         include detail-clinics-list
         include detail-clinics-map
         include detail-clinics-list
         include detail-clinics-license