section.detail-clinics-license
	.it-container
		.detail-clinics-license__wrapper
			h2.detail-clinics-license__title
				| Лицензии и сертификаты
			ul.detail-clinics-license__wrap.owl-carousel(data-owl-carousel)
				li.detail-clinics-license__inner-wrap
					.detail-clinics-license__item
						img.detail-clinics-license__img(src='static/img/rbk/partners/slider/1.png', alt='')
				li.detail-clinics-license__inner-wrap
					.detail-clinics-license__item
						img.detail-clinics-license__img(src='static/img/rbk/partners/slider/5.png', alt='')
				li.detail-clinics-license__inner-wrap
					.detail-clinics-license__item
						img.detail-clinics-license__img(src='static/img/rbk/partners/slider/1.png', alt='')

