section.detail-clinics-info
	.it-all-title.it-all-title--detail
		|  Описание
	.detail-clinics-info__desc
		|	Группа «Он Клиник» – это сеть универсальных лечебно-диагностических центров семейного типа, в которых ведут прием больше 600 специалистов 60 ключевых медицинских специализаций. Два десятилетия плодотворной работы дали возможность приобрести огромный опыт, подняться на европейский уровень предоставляемых услуг и эффективности лечения, а современное оснащение собственной сертифицированной лаборатории – предоставлять больным результаты исследований непосредственно в день обращения. В 2011 году сеть «Он Клиник» была признана лучшей компанией в номинации «Медицинские услуги» на престижном всероссийском конкурсе.