section.it-detail-clinics-license
	.it-detail-clinics-license__wrapper
		h2.it-all-title.it-all-title--detail.it-all-title--border-top
			| Лицензии и сертификаты
		ul.it-detail-clinics-license__wrap.owl-carousel(data-owl-carousel data-owl-items="6" data-owl-items-pad="3")
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/1.jpg", alt='')
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/2.jpg", alt='')
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/3.jpg", alt='')
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/4.jpg", alt='')
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/5.jpg", alt='')
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/6.jpg", alt='')
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/7.jpg", alt='')
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/8.jpg", alt='')
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/9.jpg", alt='')
			li.it-detail-clinics-license__item
				img.it-detail-clinics-license__img(src="assets/images/detail-clinics-license/content/10.jpg", alt='')
