section.it-doctors.it-all-indent
	.it-container
		.it-all-title
			|    Топовые врачи
		ul.it-doctors__wrap.it-all-indent
			li.it-doctors__item
				.it-doctors__top
					.it-doctors__top-half.it-doctors__top-half--left
						.it-doctors__img-box
							img(src="static/img/medvisor/doctors/content/1.jpg", alt='').it-doctors__img
					.it-doctors__top-half.it-doctors__top-half--right
						.it-doctors__content
							.it-doctors__title
								|	Абрамова Мария Константиновна
							.it-doctors__subtitle
								.it-doctors__subtitle-half.it-doctors__subtitle-half--top
									|	Стоматолог
								.it-doctors__subtitle-half.it-doctors__subtitle-half--bottom
									|    Стаж 9 лет
							.it-doctors__price
								.it-doctors__price-text
									|	Стоимость приема
								.it-doctors__numeric
									span.it-doctors__numeric-text
										|	от
									span.it-doctors__numeric-number
										|	1 300
									span.it-doctors__numeric-text
										| руб.
				.it-doctors__bottom
					.it-doctors__bottom-inner-top
						.it-doctors__bottom-half.it-doctors__bottom-half--left
							.it-doctors__stars
								include stars
							.it-doctors__adress
								.it-doctors__adress-wrap
									.it-doctors__adress-half.it-doctors__adress-half--top
										|	Москва, Щелковское ш., д. 44, корп. 5
									.it-doctors__adress-half.it-doctors__adress-half--bottom
										|    район Северное Измайлово
						.it-doctors__bottom-half.it-doctors__bottom-half--right
							.it-doctors__reviews
								span.it-doctors__reviews-text
									|	Отзывы
									.it-doctors__reviews-number
										|	21
					.it-doctors__bottom-inner-bottom
						.it-doctors__metro
							ul.it-doctors__metro-list
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская,
			li.it-doctors__item
				.it-doctors__top
					.it-doctors__top-half.it-doctors__top-half--left
						.it-doctors__img-box
							img(src="static/img/medvisor/doctors/content/1.jpg", alt='').it-doctors__img
					.it-doctors__top-half.it-doctors__top-half--right
						.it-doctors__content
							.it-doctors__title
								|	Абрамова Мария Константиновна
							.it-doctors__subtitle
								.it-doctors__subtitle-half.it-doctors__subtitle-half--top
									|	Стоматолог
								.it-doctors__subtitle-half.it-doctors__subtitle-half--bottom
									|    Стаж 9 лет
							.it-doctors__price
								.it-doctors__price-text
									|	Стоимость приема
								.it-doctors__numeric
									span.it-doctors__numeric-text
										|	от
									span.it-doctors__numeric-number
										|	1 300
									span.it-doctors__numeric-text
										| руб.
				.it-doctors__bottom
					.it-doctors__bottom-inner-top
						.it-doctors__bottom-half.it-doctors__bottom-half--left
							.it-doctors__stars
								include stars
							.it-doctors__adress
								.it-doctors__adress-wrap
									.it-doctors__adress-half.it-doctors__adress-half--top
										|	Москва, Щелковское ш., д. 44, корп. 5
									.it-doctors__adress-half.it-doctors__adress-half--bottom
										|    район Северное Измайлово
						.it-doctors__bottom-half.it-doctors__bottom-half--right
							.it-doctors__reviews
								span.it-doctors__reviews-text
									|	Отзывы
									.it-doctors__reviews-number
										|	21
					.it-doctors__bottom-inner-bottom
						.it-doctors__metro
							ul.it-doctors__metro-list
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская,
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская
			li.it-doctors__item
				.it-doctors__top
					.it-doctors__top-half.it-doctors__top-half--left
						.it-doctors__img-box
							img(src="static/img/medvisor/doctors/content/1.jpg", alt='').it-doctors__img
					.it-doctors__top-half.it-doctors__top-half--right
						.it-doctors__content
							.it-doctors__title
								|	Абрамова Мария Константиновна
							.it-doctors__subtitle
								.it-doctors__subtitle-half.it-doctors__subtitle-half--top
									|	Стоматолог
								.it-doctors__subtitle-half.it-doctors__subtitle-half--bottom
									|    Стаж 9 лет
							.it-doctors__price
								.it-doctors__price-text
									|	Стоимость приема
								.it-doctors__numeric
									span.it-doctors__numeric-text
										|	от
									span.it-doctors__numeric-number
										|	1 300
									span.it-doctors__numeric-text
										| руб.
				.it-doctors__bottom
					.it-doctors__bottom-inner-top
						.it-doctors__bottom-half.it-doctors__bottom-half--left
							.it-doctors__stars
								include stars
							.it-doctors__adress
								.it-doctors__adress-wrap
									.it-doctors__adress-half.it-doctors__adress-half--top
										|	Москва, Щелковское ш., д. 44, корп. 5
									.it-doctors__adress-half.it-doctors__adress-half--bottom
										|    район Северное Измайлово
						.it-doctors__bottom-half.it-doctors__bottom-half--right
							.it-doctors__reviews
								span.it-doctors__reviews-text
									|	Отзывы
									.it-doctors__reviews-number
										|	21
					.it-doctors__bottom-inner-bottom
						.it-doctors__metro
							ul.it-doctors__metro-list
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская,
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская
			li.it-doctors__item
				.it-doctors__top
					.it-doctors__top-half.it-doctors__top-half--left
						.it-doctors__img-box
							img(src="static/img/medvisor/doctors/content/1.jpg", alt='').it-doctors__img
					.it-doctors__top-half.it-doctors__top-half--right
						.it-doctors__content
							.it-doctors__title
								|	Абрамова Мария Константиновна
							.it-doctors__subtitle
								.it-doctors__subtitle-half.it-doctors__subtitle-half--top
									|	Стоматолог
								.it-doctors__subtitle-half.it-doctors__subtitle-half--bottom
									|    Стаж 9 лет
							.it-doctors__price
								.it-doctors__price-text
									|	Стоимость приема
								.it-doctors__numeric
									span.it-doctors__numeric-text
										|	от
									span.it-doctors__numeric-number
										|	1 300
									span.it-doctors__numeric-text
										| руб.
				.it-doctors__bottom
					.it-doctors__bottom-inner-top
						.it-doctors__bottom-half.it-doctors__bottom-half--left
							.it-doctors__stars
								include stars
							.it-doctors__adress
								.it-doctors__adress-wrap
									.it-doctors__adress-half.it-doctors__adress-half--top
										|	Москва, Щелковское ш., д. 44, корп. 5
									.it-doctors__adress-half.it-doctors__adress-half--bottom
										|    район Северное Измайлово
						.it-doctors__bottom-half.it-doctors__bottom-half--right
							.it-doctors__reviews
								span.it-doctors__reviews-text
									|	Отзывы
									.it-doctors__reviews-number
										|	21
					.it-doctors__bottom-inner-bottom
						.it-doctors__metro
							ul.it-doctors__metro-list
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская,
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская
			li.it-doctors__item
				.it-doctors__top
					.it-doctors__top-half.it-doctors__top-half--left
						.it-doctors__img-box
							img(src="static/img/medvisor/doctors/content/1.jpg", alt='').it-doctors__img
					.it-doctors__top-half.it-doctors__top-half--right
						.it-doctors__content
							.it-doctors__title
								|	Абрамова Мария Константиновна
							.it-doctors__subtitle
								.it-doctors__subtitle-half.it-doctors__subtitle-half--top
									|	Стоматолог
								.it-doctors__subtitle-half.it-doctors__subtitle-half--bottom
									|    Стаж 9 лет
							.it-doctors__price
								.it-doctors__price-text
									|	Стоимость приема
								.it-doctors__numeric
									span.it-doctors__numeric-text
										|	от
									span.it-doctors__numeric-number
										|	1 300
									span.it-doctors__numeric-text
										| руб.
				.it-doctors__bottom
					.it-doctors__bottom-inner-top
						.it-doctors__bottom-half.it-doctors__bottom-half--left
							.it-doctors__stars
								include stars
							.it-doctors__adress
								.it-doctors__adress-wrap
									.it-doctors__adress-half.it-doctors__adress-half--top
										|	Москва, Щелковское ш., д. 44, корп. 5
									.it-doctors__adress-half.it-doctors__adress-half--bottom
										|    район Северное Измайлово
						.it-doctors__bottom-half.it-doctors__bottom-half--right
							.it-doctors__reviews
								span.it-doctors__reviews-text
									|	Отзывы
									.it-doctors__reviews-number
										|	21
					.it-doctors__bottom-inner-bottom
						.it-doctors__metro
							ul.it-doctors__metro-list
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская,
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская
			li.it-doctors__item
				.it-doctors__top
					.it-doctors__top-half.it-doctors__top-half--left
						.it-doctors__img-box
							img(src="static/img/medvisor/doctors/content/1.jpg", alt='').it-doctors__img
					.it-doctors__top-half.it-doctors__top-half--right
						.it-doctors__content
							.it-doctors__title
								|	Абрамова Мария Константиновна
							.it-doctors__subtitle
								.it-doctors__subtitle-half.it-doctors__subtitle-half--top
									|	Стоматолог
								.it-doctors__subtitle-half.it-doctors__subtitle-half--bottom
									|    Стаж 9 лет
							.it-doctors__price
								.it-doctors__price-text
									|	Стоимость приема
								.it-doctors__numeric
									span.it-doctors__numeric-text
										|	от
									span.it-doctors__numeric-number
										|	1 300
									span.it-doctors__numeric-text
										| руб.
				.it-doctors__bottom
					.it-doctors__bottom-inner-top
						.it-doctors__bottom-half.it-doctors__bottom-half--left
							.it-doctors__stars
								include stars
							.it-doctors__adress
								.it-doctors__adress-wrap
									.it-doctors__adress-half.it-doctors__adress-half--top
										|	Москва, Щелковское ш., д. 44, корп. 5
									.it-doctors__adress-half.it-doctors__adress-half--bottom
										|    район Северное Измайлово
						.it-doctors__bottom-half.it-doctors__bottom-half--right
							.it-doctors__reviews
								span.it-doctors__reviews-text
									|	Отзывы
									.it-doctors__reviews-number
										|	21
					.it-doctors__bottom-inner-bottom
						.it-doctors__metro
							ul.it-doctors__metro-list
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская,
								li.it-doctors__metro-item
									.it-doctors__metro-circle
									.it-doctors__metro-text
										|    Щёлковская
		a(href="#").it-all-link
			.it-all-link__text
				|	Показать всех врачей
			.it-all-link__img-box
				img.it-all-link__img(src="static/img/medvisor/base/arrows.png", alt='')