footer.it-footer
	.it-container
		.it-footer__wrap
			.it-footer__top
				.it-footer__half.it-footer__half--left
					.it-footer__inner-wrap
						.it-footer__logo.it-footer__logo
							a.it-logo(href="#")
								.it-logo__img-box.it-footer__logo-img-box
									img.it-logo__img(src="assets/img/medvisor/header/logo.png", alt='')
						.it-social
							ul.it-social__wrap
								li.it-social__item
									a(href="#").it-social__img-box
										img.it-social__img(src="assets/img/medvisor/footer/social/tw.png", alt='')
								li.it-social__item
									a(href="#").it-social__img-box
										img.it-social__img(src="assets/img/medvisor/footer/social/fb.png", alt='')
								li.it-social__item
									a(href="#").it-social__img-box
										img.it-social__img(src="assets/img/medvisor/footer/social/vk.png", alt='')
				.it-footer__half.it-footer__half--right
					.it-footer__content
						.it-sub-nav
							ul.it-sub-nav__list
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										| Медучреждения
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										| Врачи
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										| Услуги
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										| Новости
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	Статьи
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	Главная
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	О портале
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	Пользователям
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	Медучреждениям
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	Помощь
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	Реклама на сайте
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	Обратная связь
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	Публичная оферта
								li.it-sub-nav__item
									a.it-sub-nav__link(href="#")
										|	Пользовательское соглашение
			.it-footer__bottom
				.it-footer__inner-bottom-wrap
					.it-footer__copy
						|	© 2018 MedVisor. Все права защищены.
					.it-footer__info
						|	MedVisor не предоставляет медицинских консультаций, диагностики или лечения.





			