header.it-header
		.it-container
			.it-header__wrap
				.it-header__top
					.it-header__half.it-header__half--left
						include nav
					.it-header__half.it-header__half--right
						.it-header__inner-wrap
							include city
							include user
				.it-header__bottom
					.it-header__bottom-half.it-header__bottom-half--size-1
						include logo
					.it-header__bottom-half.it-header__bottom-half--size-2
						include nav-main
					.it-header__bottom-half.it-header__bottom-half--size-3
						include search