section.it-med-institute
	.it-container
		.it-all-title
			| Медицинские учреждения в Тюмени
		.it-med-institute__wrap
			ul.it-med-institute__list
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Косметология
							.it-med-institute__numeric
								|	13
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Психоневрология
							.it-med-institute__numeric
								|	8
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Невропатология
							.it-med-institute__numeric
								|	5
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Стоматология
							.it-med-institute__numeric
								|	6
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Травматология и ортопедия
							.it-med-institute__numeric
								|	11
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Хирургия детская
							.it-med-institute__numeric
								|	11
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Психоневрология
							.it-med-institute__numeric
								|	8
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Невропатология
							.it-med-institute__numeric
								|	5
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Стоматология
							.it-med-institute__numeric
								|	6
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Психоневрология
							.it-med-institute__numeric
								|	8
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Травматология и ортопедия
							.it-med-institute__numeric
								|	11
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Косметология
							.it-med-institute__numeric
								|	13
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Косметология
							.it-med-institute__numeric
								|	13
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Стоматология
							.it-med-institute__numeric
								|	6
				li.it-med-institute__item
					a(href="#").it-med-institute__link
						span.it-med-institute__inner-text
							| Психоневрология
							.it-med-institute__numeric
								|	8
				li.it-med-institute__item
					a(href="#").it-med-institute__link
							span.it-med-institute__inner-text
							| Ещё...

