.it-container
   section.modal-info#modal-info
      .modal-info__wrap
         .modal-info__title
            |  ЧУЗ "Клиническая больница "РЖД-Медицина" города Тюмень"
         .modal-info__subtitle
            |  Поликлиника детская
         .modal-info__adress
            | Тюмень ул. Магнитогорская, 8 район Красносельский
         .it-modal-info__nav
            ul.it-modal-info__nav-list(data-switch-wrap='')
               li.it-modal-info__nav-item.it-modal-info__nav-item--left.active
                  a.it-modal-info__nav-btn(href='', data-switch='modal-info1')
                     .it-modal-info__nav-img-box
                        img(src="static/img/rbk/modal-info/nav/1.png", alt='').it-modal-info__nav-img
                     .it-modal-info__nav-text
                        |    Телефоны
               li.it-modal-info__nav-item.it-modal-info__nav-item--right
                  a.it-modal-info__nav-btn(href='', data-switch='modal-info2')
                     .it-modal-info__nav-img-box
                        img(src="static/img/rbk/modal-info/nav/2.png", alt='').it-modal-info__nav-img
                     .it-modal-info__nav-text
                        |    Режим работы
            ul.it-modal-info__list(data-tabs-wrap='')
               li.it-modal-info__item.active(data-tab='modal-info1')
                  .it-modal-info__phone
                     ul.it-modal-info__phone-wrap
                        li.it-modal-info__phone-item
                           a(href="tel:+1234567890").it-modal-info__phone-link
                              |  1234567890
               li.it-modal-info__item(data-tab='modal-info2')
                  .it-modal-info__time
                     ul.it-modal-info__time-wrap
                        li.it-modal-info__time-item
                           .it-modal-info__time-today
                              |
                           .it-modal-info__time-day
                              |  Пн
                           .it-modal-info__time-timing
                              | 08:00 — 20:00
                        li.it-modal-info__time-item
                           .it-modal-info__time-today
                              |
                           .it-modal-info__time-day
                              |  Вт
                           .it-modal-info__time-timing
                              | 08:00 — 20:00
                        li.it-modal-info__time-item
                           .it-modal-info__time-today
                              |
                           .it-modal-info__time-day
                              |  Ср
                           .it-modal-info__time-timing
                              | 08:00 — 20:00
                        li.it-modal-info__time-item
                           .it-modal-info__time-today
                              |
                           .it-modal-info__time-day
                              |  Чт
                           .it-modal-info__time-timing
                              | 08:00 — 20:00
                        li.it-modal-info__time-item
                           .it-modal-info__time-today
                              | Сегодня
                           .it-modal-info__time-day
                              |  Пт
                           .it-modal-info__time-timing
                              | 08:00 — 20:00
                        li.it-modal-info__time-item
                           .it-modal-info__time-today
                              |
                           .it-modal-info__time-day
                              |  Сб
                           .it-modal-info__time-timing
                              | 08:00 — 14:00
                        li.it-modal-info__time-item
                           .it-modal-info__time-today
                              |
                           .it-modal-info__time-day
                              |  Вс
                           .it-modal-info__time-timing
                              | Выходной

