nav.it-nav-main.swiper-container(data-scroll-wrap-x)
	ul.it-nav-main__list.swiper-wrapper
		li.it-nav-main__item.swiper-slide
			a(href="med.html").it-nav-main__link
				|	Медучреждения
		li.it-nav-main__item.swiper-slide
			a(href="#").it-nav-main__link
				|	Врачи
		li.it-nav-main__item.swiper-slide
			a(href="#").it-nav-main__link
				|	Услуги
		li.it-nav-main__item.swiper-slide
			a(href="#").it-nav-main__link
				|	Препараты
	.swiper-scrollbar