section.it-nav
	ul.it-nav__list
		li.it-nav__item
			a(href="#").it-nav__link
				|	Проверьте свои симптомы
		li.it-nav__item
			a(href="#").it-nav__link
				|	Найти врача
		li.it-nav__item
			a(href="#").it-nav__link
				|	Найти лекарства
		li.it-nav__item
			a(href="#").it-nav__link
				|	Пресс-центр