section.it-news
	.it-container
		.it-news__outer-wrap
			.it-all-title
				|    Свежие новости
			ul.it-news__wrap.it-all-indent
				li.it-news__item
					a(href="#").it-news__item-link
						.it-news__img-box
							img(src="assets/img/medvisor/news/content/2.jpg", alt='').it-news__img
						.it-news__content
							.it-news__content-top
								.it-news__title
									|    Продуло шею, больно повернуть голову: что делать?
								.it-news__desc
									p
										|    Локальное переохлаждение области шеи сопровождается сильными болевыми ощущениями. Это состояние требует лечения, так как оно способно существенно снизить качество жизни человека и привести к временной нетрудоспособности. Для того, чтобы подобрать оптимальные терапевтические мероприятия, а также избежать осложнений важно понимать механизм развития и причины болевых ощущений в шее.
									p
										|	Появление болевых ощущений имеет различные механизмы происхождения. Боль в области полых органов (кишечник, желудок, мочевой, желчный пузырь) бывает следствием выраженного повышения тонуса гладких мышц стенок (спазм). В остальных случаях превалирующим патогенетическим механизмом болевых ощущений...
							.it-news__content-bottom
								.it-news__date
									|	18.12.2018
								.it-news__view
									.it-news__view-img-box
										img.it-news__view-img(src="assets/img/medvisor/base/eye.svg", alt='')
									.it-news__view-text
										|	3.5k
				li.it-news__item
					a(href="#").it-news__item-link
						.it-news__img-box
							img(src="assets/img/medvisor/news/content/1.jpg", alt='').it-news__img
						.it-news__content
							.it-news__content-top
								.it-news__title
									|    Ученые назвали веганство "скрытым голодом"
								.it-news__desc
									|    «Скрытый голод» - так называют ученые длительный дефицит необходимых минералов и витаминов в рационе питания человека. Их дефицит может проявляться не сразу, а через много лет, и приводить затем не только к снижению иммунитета и повышенному риску заболеваний, но и к проблемам с психическим здоровьем, а иногда даже к смерти.
							.it-news__content-bottom
								.it-news__date
									|	18.12.2018
								.it-news__view
									.it-news__view-img-box
										img.it-news__view-img(src="assets/img/medvisor/base/eye.svg", alt='')
									.it-news__view-text
										|	3.5k
				li.it-news__item
					a(href="#").it-news__item-link
						.it-news__img-box
							img(src="assets/img/medvisor/news/content/1.jpg", alt='').it-news__img
						.it-news__content
							.it-news__content-top
								.it-news__title
									|    Ученые назвали веганство "скрытым голодом"
								.it-news__desc
									|
							.it-news__content-bottom
								.it-news__date
									|	18.12.2018
								.it-news__view
									.it-news__view-img-box
										img.it-news__view-img(src="assets/img/medvisor/base/eye.svg", alt='')
									.it-news__view-text
										|	3.5k
				li.it-news__item
					a(href="#").it-news__item-link
						.it-news__img-box
							img(src="assets/img/medvisor/news/content/1.jpg", alt='').it-news__img
						.it-news__content
							.it-news__content-top
								.it-news__title
									|    Ученые назвали веганство "скрытым голодом"
								.it-news__desc
									|    «Скрытый голод» - так называют ученые длительный дефицит необходимых минералов и витаминов в рационе питания человека. Их дефицит может проявляться не сразу, а через много лет, и приводить затем не только к снижению иммунитета и повышенному риску заболеваний, но и к проблемам с психическим здоровьем, а иногда даже к смерти.
							.it-news__content-bottom
								.it-news__date
									|	18.12.2018
								.it-news__view
									.it-news__view-img-box
										img.it-news__view-img(src="assets/img/medvisor/base/eye.svg", alt='')
									.it-news__view-text
										|	3.5k
			a(href="#").it-all-link
				.it-all-link__text
					|    Показать все новости
				.it-all-link__img-box
					img.it-all-link__img(src="assets/img/medvisor/base/arrows.png", alt='')

