section.it-reviews
	.it-container
		.it-reviews__outer-wrap
			.it-all-title
				|    Популярные медучреждения
			ul.it-reviews__wrap
				li.it-reviews__item
					.it-reviews__top
						.it-reviews__name
							.it-reviews__name-img-box
								img(src="assets/images/reviews/user.svg", alt='').it-reviews__name-img
							.it-reviews__name-text
								|	Максим
						.it-reviews__stars
							include stars
					.it-reviews__desc
						|	У этого врача я уже не в первый раз, он профессионал. Мне есть, с кем сравнить в плане дерматологии. Этот врач может объяснить причину, назначить препарат и объяснить, для чего он, я вижу полную картину. Очень тактичный, коммуникабельный и спокойный доктор, умеет преподносить информацию. В первый раз я обратилась с проблемой с ногтевой пластиной на ногах. Он назначил лечение, сделал анализ на грибок и удалил пластину, в течение полугода я наблюдаюсь у него. Сейчас я обратилась с дерматитом на брови, что связано с внешними факторами. Доктор назначил мне крема и лекарства против аллергии.
					.it-reviews__bottom
						.it-reviews__date
							|	18.12.2018
						.it-reviews__doctor
							.it-reviews__doctor-post
								|	лечащий врач:
							a(href="#").it-reviews__doctor-link
								|	Агаханян Карен Арменович
				li.it-reviews__item
					.it-reviews__top
						.it-reviews__name
							.it-reviews__name-img-box
								img(src="assets/images/reviews/user.svg", alt='').it-reviews__name-img
							.it-reviews__name-text
								|	Максим
						.it-reviews__stars
							include stars
					.it-reviews__desc
						|	У этого врача я уже не в первый раз, он профессионал. Мне есть, с кем сравнить в плане дерматологии. Этот врач может объяснить причину, назначить препарат и объяснить, для чего он, я вижу полную картину. Очень тактичный, коммуникабельный и спокойный доктор, умеет преподносить информацию. В первый раз я обратилась с проблемой с ногтевой пластиной на ногах. Он назначил лечение, сделал анализ на грибок и удалил пластину, в течение полугода я наблюдаюсь у него. Сейчас я обратилась с дерматитом на брови, что связано с внешними факторами. Доктор назначил мне крема и лекарства против аллергии.
					.it-reviews__bottom
						.it-reviews__date
							|	18.12.2018
						.it-reviews__doctor
							.it-reviews__doctor-post
								|	лечащий врач:
							a(href="#").it-reviews__doctor-link
								|	Агаханян Карен Арменович
				li.it-reviews__item
					.it-reviews__top
						.it-reviews__name
							.it-reviews__name-img-box
								img(src="assets/images/reviews/user.svg", alt='').it-reviews__name-img
							.it-reviews__name-text
								|	Максим
						.it-reviews__stars
							include stars
					.it-reviews__desc
						|	У этого врача я уже не в первый раз, он профессионал. Мне есть, с кем сравнить в плане дерматологии. Этот врач может объяснить причину, назначить препарат и объяснить, для чего он, я вижу полную картину. Очень тактичный, коммуникабельный и спокойный доктор, умеет преподносить информацию. В первый раз я обратилась с проблемой с ногтевой пластиной на ногах. Он назначил лечение, сделал анализ на грибок и удалил пластину, в течение полугода я наблюдаюсь у него. Сейчас я обратилась с дерматитом на брови, что связано с внешними факторами. Доктор назначил мне крема и лекарства против аллергии.
					.it-reviews__bottom
						.it-reviews__date
							|	18.12.2018
						.it-reviews__doctor
							.it-reviews__doctor-post
								|	лечащий врач:
							a(href="#").it-reviews__doctor-link
								|	Агаханян Карен Арменович
				li.it-reviews__item
					.it-reviews__top
						.it-reviews__name
							.it-reviews__name-img-box
								img(src="assets/images/reviews/user.svg", alt='').it-reviews__name-img
							.it-reviews__name-text
								|	Максим
						.it-reviews__stars
							include stars
					.it-reviews__desc
						|	У этого врача я уже не в первый раз, он профессионал. Мне есть, с кем сравнить в плане дерматологии. Этот врач может объяснить причину, назначить препарат и объяснить, для чего он, я вижу полную картину. Очень тактичный, коммуникабельный и спокойный доктор, умеет преподносить информацию. В первый раз я обратилась с проблемой с ногтевой пластиной на ногах. Он назначил лечение, сделал анализ на грибок и удалил пластину, в течение полугода я наблюдаюсь у него. Сейчас я обратилась с дерматитом на брови, что связано с внешними факторами. Доктор назначил мне крема и лекарства против аллергии.
					.it-reviews__bottom
						.it-reviews__date
							|	18.12.2018
						.it-reviews__doctor
							.it-reviews__doctor-post
								|	лечащий врач:
							a(href="#").it-reviews__doctor-link
								|	Агаханян Карен Арменович
			a(href="#").it-all-link
				.it-all-link__text
					|    Показать всех врачей
				.it-all-link__img-box
					img.it-all-link__img(src="assets/images/base/arrows.png", alt='')

