section.it-search
	.it-search__wrap
		button.it-search__button
			img.it-search__img(src="assets/img/medvisor/search/loup.svg", alt='')
		input.it-search__input(placeholder="Например, “Стоматология”" )