section.it-services
	.it-container
		.it-services__outer-wrap
			.it-all-title
				|    Популярные услуги
			ul.it-services__wrap.it-all-indent
				li.it-services__item
					a(href="#").it-services__link
						.it-services__img-box
							img(src="assets/img/medvisor/services/content/1.jpg", alt='').it-services__img
						.it-services__title
							|    Косметология
						.it-services__desc
							|    Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные лазеры и малоинвазивные методы.
				li.it-services__item
					a(href="#").it-services__link
						.it-services__img-box
							img(src="assets/img/medvisor/services/content/1.jpg", alt='').it-services__img
						.it-services__title
							|    Косметология
						.it-services__desc
							|    Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные лазеры и малоинвазивные методы.
				li.it-services__item
					a(href="#").it-services__link
						.it-services__img-box
							img(src="assets/img/medvisor/services/content/1.jpg", alt='').it-services__img
						.it-services__title
							|    Косметология
						.it-services__desc
							|    Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные лазеры и малоинвазивные методы.
				li.it-services__item
					a(href="#").it-services__link
						.it-services__img-box
							img(src="assets/img/medvisor/services/content/1.jpg", alt='').it-services__img
						.it-services__title
							|    Косметология
						.it-services__desc
							|    Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные лазеры и малоинвазивные методы.
				li.it-services__item
					a(href="#").it-services__link
						.it-services__img-box
							img(src="assets/img/medvisor/services/content/1.jpg", alt='').it-services__img
						.it-services__title
							|    Косметология
						.it-services__desc
							|    Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные лазеры и малоинвазивные методы.
				li.it-services__item
					a(href="#").it-services__link
						.it-services__img-box
							img(src="assets/img/medvisor/services/content/1.jpg", alt='').it-services__img
						.it-services__title
							|    Косметология
						.it-services__desc
							|    Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные лазеры и малоинвазивные методы.
				li.it-services__item
					a(href="#").it-services__link
						.it-services__img-box
							img(src="assets/img/medvisor/services/content/1.jpg", alt='').it-services__img
						.it-services__title
							|    Косметология
						.it-services__desc
							|    Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные лазеры и малоинвазивные методы.
				li.it-services__item
					a(href="#").it-services__link
						.it-services__img-box
							img(src="assets/img/medvisor/services/content/1.jpg", alt='').it-services__img
						.it-services__title
							|    Косметология
						.it-services__desc
							|    Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные лазеры и малоинвазивные методы.
			a(href="#").it-all-link
				.it-all-link__text
					|    Показать все услуги
				.it-all-link__img-box
					img.it-all-link__img(src="assets/img/medvisor/base/arrows.png", alt='')