section.it-services.it-all-indent
	.it-container
		.it-all-title
			|    Топовые врачи
		ul.it-services__wrap.it-all-indent
			li.it-services__item
				.it-services__img-box
					img(src="static/img/medvisor/services/content/1.jpg", alt='').it-services__img
				.it-services__title
					|    Косметология
				.it-services__desc
					|    Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные лазеры и малоинвазивные методы.