//section.it-filter
//		form.it-filter__form(action='', method='')
//			ul.it-filter__wrap
//				li.it-filter__item.it-filter__item--dropdown
//					.it-filter__dropdown
//						section.it-select
//							.it-select__outer-wrap
//								.it-select__wrap(data-select-wrap)
//									.it-select__input-wrap(tabindex='1', data-select-input-wrap='')
//										img(src="assets/img/medvisor/clinics/arrow.svg", alt='').it-select__arrow
//										input#opt1.it-select__selectopt(name='district', type='radio', checked='' )
//										label.it-select__label(for='opt1', )
//											span.it-select__text Район
//										input#opt2.it-select__selectopt(name='district', type='radio')
//										label.it-select__label(for='opt2', )
//											span.it-select__text Адмиралтейский район
//										input#opt3.it-select__selectopt(name='district', type='radio')
//										label.it-select__label(for='opt3', )
//											span.it-select__text Арбат
//										input#opt4.it-select__selectopt(name='district', type='radio')
//										label.it-select__label(for='opt4', )
//											span.it-select__text Аэропорт
//										input#opt5.it-select__selectopt(name='district', type='radio')
//										label.it-select__label(for='opt5', )
//											span.it-select__text Арбат
//										input#opt6.it-select__selectopt(name='district', type='radio')
//										label.it-select__label(for='opt6', )
//											span.it-select__text Аэропорт
//										input#opt7.it-select__selectopt(name='district', type='radio')
//										label.it-select__label(for='opt7', )
//											span.it-select__text Аэропорт
//										input#opt8.it-select__selectopt(name='district', type='radio')
//										label.it-select__label(for='opt8', )
//											span.it-select__text Арбат
//										input#opt9.it-select__selectopt(name='district', type='radio')
//										label.it-select__label(for='opt9', )
//											span.it-select__text Аэропорт
//				li.it-filter__item.it-filter__item--dropdown
//					.it-filter__dropdown
//						section.it-select
//							.it-select__outer-wrap
//								.it-select__wrap(data-select-wrap)
//									.it-select__input-wrap(tabindex='1', data-select-input-wrap='')
//										img(src="assets/img/medvisor/clinics/arrow.svg", alt='').it-select__arrow
//										input#metro1.it-select__selectopt(name='metro', type='radio', checked='' )
//										label.it-select__label(for='metro1', )
//											span.it-select__text Метро
//										input#metro2.it-select__selectopt(name='metro', type='radio')
//										label.it-select__label(for='metro2', )
//											span.it-select__text Адмиралтейский район
//										input#metro3.it-select__selectopt(name='metro', type='radio')
//										label.it-select__label(for='metro3', )
//											span.it-select__text Арбат
//										input#metro4.it-select__selectopt(name='metro', type='radio')
//										label.it-select__label(for='metro4', )
//											span.it-select__text бэропорт
//										input#metro5.it-select__selectopt(name='metro', type='radio')
//										label.it-select__label(for='metro5', )
//											span.it-select__text Арбат
//										input#metro6.it-select__selectopt(name='metro', type='radio')
//										label.it-select__label(for='metro6', )
//											span.it-select__text Аэропорт
//										input#metro7.it-select__selectopt(name='metro', type='radio')
//										label.it-select__label(for='metro7', )
//											span.it-select__text Аэропорт
//										input#metro8.it-select__selectopt(name='metro', type='radio')
//										label.it-select__label(for='metro8', )
//											span.it-select__text Арбат
//										input#metro9.it-select__selectopt(name='metro', type='radio')
//										label.it-select__label(for='metro9', )
//											span.it-select__text Аэропорт
//				li.it-filter__item(data-it-filter-item)
//					.it-filter__btn-title(data-it-filter-btn-title)
//						| Государственное учреждение
//						img(src="assets/img/medvisor/clinics/arrow.svg", alt='' data-filter-btn-arrow).it-filter__btn-title-arrow
//					ul.it-filter__checkbox-wrap(data-it-filter-checkboxes)
//						li.it-filter__checkbox-item
//							label.it-checkbox
//								input.it-checkbox__default(type='checkbox', name='AGREE')
//								span.it-checkbox__pseudo
//								span.it-checkbox__text
//									| Да
//						li.it-filter__checkbox-item
//							label.it-checkbox
//								input.it-checkbox__default(type='checkbox', name='AGREE')
//								span.it-checkbox__pseudo
//								span.it-checkbox__text
//									| Нет
//				li.it-filter__item(data-it-filter-item)
//					.it-filter__btn-title(data-it-filter-btn-title)
//						| Государственное учреждение
//						img(src="assets/img/medvisor/clinics/arrow.svg", alt='' data-filter-btn-arrow).it-filter__btn-title-arrow
//					ul.it-filter__checkbox-wrap(data-it-filter-checkboxes)
//						li.it-filter__checkbox-item
//							label.it-checkbox
//								input.it-checkbox__default(type='checkbox', name='AGREE')
//								span.it-checkbox__pseudo
//								span.it-checkbox__text
//									| Да
//						li.it-filter__checkbox-item
//							label.it-checkbox
//								input.it-checkbox__default(type='checkbox', name='AGREE')
//								span.it-checkbox__pseudo
//								span.it-checkbox__text
//									| Нет1
//

#comp_6d66c8cd4eaf1cae50acc29c45ecce7b
	.bx_filter
		.bx_filter_section
			form.smartfilter(name='_form', action='/moskva/school', method='get')
				input#bxajaxid_6d66c8cd4eaf1cae50acc29c45ecce7b_8BACKi(type='hidden', name='bxajaxid', value='6d66c8cd4eaf1cae50acc29c45ecce7b')
				input(type='hidden', name='AJAX_CALL', value='Y')
				input#citysef(type='hidden', name='citysef', value='moskva')
				.bx_filter_parameters_box.active
					span.bx_filter_container_modef
					//.bx_filter_parameters_box_title(onclick='smartFilter.hideFilterProps(this)')
						//span.bx_filter_parameters_box_title-text Район
					.bx_filter_block
						.bx_filter_parameters_box_container
							.bx_filter_select_container
								.bx_filter_select_block(onclick="smartFilter.showDropDownPopup(this, '119')")
									.bx_filter_select_text(data-role='currentOption')
										| Район
									.bx_filter_select_arrow
									input#all_arEduCentersFilter_119_1355685096(style='display: none', type='radio', name='arEduCentersFilter_119', value='')
									input#arEduCentersFilter_119_1355685096(style='display: none', type='radio', name='', value='1355685096')
									input#arEduCentersFilter_119_3385281874(style='display: none', type='radio', name='', value='3385281874')
									input#arEduCentersFilter_119_3200286148(style='display: none', type='radio', name='', value='3200286148')
									input#arEduCentersFilter_119_547678311(style='display: none', type='radio', name='', value='547678311')
									input#arEduCentersFilter_119_1470355697(style='display: none', type='radio', name='', value='1470355697')
									input#arEduCentersFilter_119_3467282763(style='display: none', type='radio', name='', value='3467282763')
									input#arEduCentersFilter_119_3115170269(style='display: none', type='radio', name='', value='3115170269')
									input#arEduCentersFilter_119_689087564(style='display: none', type='radio', name='', value='689087564')
									input#arEduCentersFilter_119_1578472666(style='display: none', type='radio', name='', value='1578472666')
									input#arEduCentersFilter_119_1053957439(style='display: none', type='radio', name='', value='1053957439')
									input#arEduCentersFilter_119_2816167045(style='display: none', type='radio', name='', value='2816167045')
									input#arEduCentersFilter_119_968874278(style='display: none', type='radio', name='', value='968874278')
									input#arEduCentersFilter_119_2696317084(style='display: none', type='radio', name='', value='2696317084')
									input#arEduCentersFilter_119_653065828(style='display: none', type='radio', name='', value='653065828')
									input#arEduCentersFilter_119_805934349(style='display: none', type='radio', name='', value='805934349')
									input#arEduCentersFilter_119_1192142235(style='display: none', type='radio', name='', value='1192142235')
									input#arEduCentersFilter_119_3108635120(style='display: none', type='radio', name='', value='3108635120')
									input#arEduCentersFilter_119_1238707625(style='display: none', type='radio', name='', value='1238707625')
									input#arEduCentersFilter_119_657364051(style='display: none', type='radio', name='', value='657364051')
									input#arEduCentersFilter_119_1228051844(style='display: none', type='radio', name='', value='1228051844')
									input#arEduCentersFilter_119_3461165414(style='display: none', type='radio', name='', value='3461165414')
									input#arEduCentersFilter_119_3058951157(style='display: none', type='radio', name='', value='3058951157')
									input#arEduCentersFilter_119_1464099036(style='display: none', type='radio', name='', value='1464099036')
									input#arEduCentersFilter_119_541282378(style='display: none', type='radio', name='', value='541282378')
									input#arEduCentersFilter_119_3190277609(style='display: none', type='radio', name='', value='3190277609')
									input#arEduCentersFilter_119_3374380415(style='display: none', type='radio', name='', value='3374380415')
									input#arEduCentersFilter_119_1344906437(style='display: none', type='radio', name='', value='1344906437')
									input#arEduCentersFilter_119_4033109394(style='display: none', type='radio', name='', value='4033109394')
									input#arEduCentersFilter_119_3231103316(style='display: none', type='radio', name='', value='3231103316')
									input#arEduCentersFilter_119_2689675441(style='display: none', type='radio', name='', value='2689675441')
									input#arEduCentersFilter_119_3612737575(style='display: none', type='radio', name='', value='3612737575')
									input#arEduCentersFilter_119_1314869661(style='display: none', type='radio', name='', value='1314869661')
									input#arEduCentersFilter_119_3504110611(style='display: none', type='radio', name='', value='3504110611')
									input#arEduCentersFilter_119_3079768514(style='display: none', type='radio', name='', value='3079768514')
									input#arEduCentersFilter_119_962093323(style='display: none', type='radio', name='', value='962093323')
									input#arEduCentersFilter_119_2805789864(style='display: none', type='radio', name='', value='2805789864')
									input#arEduCentersFilter_119_3493577790(style='display: none', type='radio', name='', value='3493577790')
									input#arEduCentersFilter_119_1043703058(style='display: none', type='radio', name='', value='1043703058')
									input#arEduCentersFilter_119_3206925141(style='display: none', type='radio', name='', value='3206925141')
									input#arEduCentersFilter_119_798676676(style='display: none', type='radio', name='', value='798676676')
									input#arEduCentersFilter_119_1624981507(style='display: none', type='radio', name='', value='1624981507')
									input#arEduCentersFilter_119_1884414415(style='display: none', type='radio', name='', value='1884414415')
									input#arEduCentersFilter_119_123130201(style='display: none', type='radio', name='', value='123130201')
									input#arEduCentersFilter_119_2657059043(style='display: none', type='radio', name='', value='2657059043')
									input#arEduCentersFilter_119_3914903669(style='display: none', type='radio', name='', value='3914903669')
									input#arEduCentersFilter_119_1486743122(style='display: none', type='radio', name='', value='1486743122')
									input#arEduCentersFilter_119_2000430550(style='display: none', type='radio', name='', value='2000430550')
									input#arEduCentersFilter_119_3872064(style='display: none', type='radio', name='', value='3872064')
									input#arEduCentersFilter_119_2570208506(style='display: none', type='radio', name='', value='2570208506')
									input#arEduCentersFilter_119_3996480620(style='display: none', type='radio', name='', value='3996480620')
									input#arEduCentersFilter_119_2123000317(style='display: none', type='radio', name='', value='2123000317')
									input#arEduCentersFilter_119_160258411(style='display: none', type='radio', name='', value='160258411')
									input#arEduCentersFilter_119_1766510734(style='display: none', type='radio', name='', value='1766510734')
									input#arEduCentersFilter_119_508420120(style='display: none', type='radio', name='', value='508420120')
									input#arEduCentersFilter_119_2269426082(style='display: none', type='radio', name='', value='2269426082')
									input#arEduCentersFilter_119_4030955828(style='display: none', type='radio', name='', value='4030955828')
									input#arEduCentersFilter_119_1848054935(style='display: none', type='radio', name='', value='1848054935')
									input#arEduCentersFilter_119_421536769(style='display: none', type='radio', name='', value='421536769')
									input#arEduCentersFilter_119_2150200763(style='display: none', type='radio', name='', value='2150200763')
									input#arEduCentersFilter_119_4147004717(style='display: none', type='radio', name='', value='4147004717')
									input#arEduCentersFilter_119_1737578684(style='display: none', type='radio', name='', value='1737578684')
									input#arEduCentersFilter_119_1748999006(style='display: none', type='radio', name='', value='1748999006')
									input#arEduCentersFilter_119_895529947(style='display: none', type='radio', name='', value='895529947')
									input#arEduCentersFilter_119_2892620385(style='display: none', type='radio', name='', value='2892620385')
									input#arEduCentersFilter_119_3681473271(style='display: none', type='radio', name='', value='3681473271')
									input#arEduCentersFilter_119_1158301524(style='display: none', type='radio', name='', value='1158301524')
									input#arEduCentersFilter_119_839743426(style='display: none', type='radio', name='', value='839743426')
									input#arEduCentersFilter_119_2869175928(style='display: none', type='radio', name='', value='2869175928')
									input#arEduCentersFilter_119_3691189998(style='display: none', type='radio', name='', value='3691189998')
									input#arEduCentersFilter_119_557932278(style='display: none', type='radio', name='', value='557932278')
									input#arEduCentersFilter_119_1447456352(style='display: none', type='radio', name='', value='1447456352')
									input#arEduCentersFilter_119_1287392127(style='display: none', type='radio', name='', value='1287392127')
									input#arEduCentersFilter_119_1002126313(style='display: none', type='radio', name='', value='1002126313')
									input#arEduCentersFilter_119_1534898700(style='display: none', type='radio', name='', value='1534898700')
									input#arEduCentersFilter_119_746291866(style='display: none', type='radio', name='', value='746291866')
									input#arEduCentersFilter_119_3044201248(style='display: none', type='radio', name='', value='3044201248')
									input#arEduCentersFilter_119_3262505910(style='display: none', type='radio', name='', value='3262505910')
									input#arEduCentersFilter_119_1544648213(style='display: none', type='radio', name='', value='1544648213')
									input#arEduCentersFilter_119_722880131(style='display: none', type='radio', name='', value='722880131')
									input#arEduCentersFilter_119_2988382009(style='display: none', type='radio', name='', value='2988382009')
									input#arEduCentersFilter_119_3306694575(style='display: none', type='radio', name='', value='3306694575')
									input#arEduCentersFilter_119_1437022782(style='display: none', type='radio', name='', value='1437022782')
									input#arEduCentersFilter_119_580913832(style='display: none', type='radio', name='', value='580913832')
									input#arEduCentersFilter_119_339551435(style='display: none', type='radio', name='', value='339551435')
									input#arEduCentersFilter_119_1664750685(style='display: none', type='radio', name='', value='1664750685')
									input#arEduCentersFilter_119_4197664231(style='display: none', type='radio', name='', value='4197664231')
									input#arEduCentersFilter_119_2369025393(style='display: none', type='radio', name='', value='2369025393')
									input#arEduCentersFilter_119_324067538(style='display: none', type='radio', name='', value='324067538')
									input#arEduCentersFilter_119_1683476548(style='display: none', type='radio', name='', value='1683476548')
									input#arEduCentersFilter_119_4250829310(style='display: none', type='radio', name='', value='4250829310')
									input#arEduCentersFilter_119_2321133928(style='display: none', type='radio', name='', value='2321133928')
									input#arEduCentersFilter_119_451325177(style='display: none', type='radio', name='', value='451325177')
									input#arEduCentersFilter_119_1843502191(style='display: none', type='radio', name='', value='1843502191')
									input#arEduCentersFilter_119_3478077402(style='display: none', type='radio', name='', value='3478077402')
									input#arEduCentersFilter_119_220599690(style='display: none', type='radio', name='', value='220599690')
									input#arEduCentersFilter_119_3811079334(style='display: none', type='radio', name='', value='3811079334')
									input#arEduCentersFilter_119_2486125616(style='display: none', type='radio', name='', value='2486125616')
									input#arEduCentersFilter_119_1320741296(style='display: none', type='radio', name='', value='1320741296')
									input#arEduCentersFilter_119_2928326787(style='display: none', type='radio', name='', value='2928326787')
									input#arEduCentersFilter_119_1114080077(style='display: none', type='radio', name='', value='1114080077')
									input#arEduCentersFilter_119_684772987(style='display: none', type='radio', name='', value='684772987')
									input#arEduCentersFilter_119_172741011(style='display: none', type='radio', name='', value='172741011')
									input#arEduCentersFilter_119_2102190341(style='display: none', type='radio', name='', value='2102190341')
									input#arEduCentersFilter_119_3829772479(style='display: none', type='radio', name='', value='3829772479')
									input#arEduCentersFilter_119_2470608937(style='display: none', type='radio', name='', value='2470608937')
									input#arEduCentersFilter_119_66952632(style='display: none', type='radio', name='', value='66952632')
									input#arEduCentersFilter_119_1962585390(style='display: none', type='radio', name='', value='1962585390')
									input#arEduCentersFilter_119_1359771359(style='display: none', type='radio', name='', value='1359771359')
									input#arEduCentersFilter_119_3355780965(style='display: none', type='radio', name='', value='3355780965')
									input#arEduCentersFilter_119_3204585459(style='display: none', type='radio', name='', value='3204585459')
									input#arEduCentersFilter_119_560366160(style='display: none', type='radio', name='', value='560366160')
									input#arEduCentersFilter_119_1449243334(style='display: none', type='radio', name='', value='1449243334')
									input#arEduCentersFilter_119_3479757692(style='display: none', type='radio', name='', value='3479757692')
									input#arEduCentersFilter_119_1060613038(style='display: none', type='radio', name='', value='1060613038')
									input#arEduCentersFilter_119_3094336490(style='display: none', type='radio', name='', value='3094336490')
									input#arEduCentersFilter_119_1058043656(style='display: none', type='radio', name='', value='1058043656')
									input#arEduCentersFilter_119_1209485214(style='display: none', type='radio', name='', value='1209485214')
									input#arEduCentersFilter_119_3508409892(style='display: none', type='radio', name='', value='3508409892')
									input#arEduCentersFilter_119_2786666162(style='display: none', type='radio', name='', value='2786666162')
									input#arEduCentersFilter_119_947761937(style='display: none', type='radio', name='', value='947761937')
									input#arEduCentersFilter_119_1333429127(style='display: none', type='radio', name='', value='1333429127')
									input#arEduCentersFilter_119_3597914685(style='display: none', type='radio', name='', value='3597914685')
									input#arEduCentersFilter_119_2708791979(style='display: none', type='radio', name='', value='2708791979')
									input#arEduCentersFilter_119_835452730(style='display: none', type='radio', name='', value='835452730')
									input#arEduCentersFilter_119_1187827628(style='display: none', type='radio', name='', value='1187827628')
									input#arEduCentersFilter_119_3095948231(style='display: none', type='radio', name='', value='3095948231')
									input#arEduCentersFilter_119_1361816185(style='display: none', type='radio', name='', value='1361816185')
									input#arEduCentersFilter_119_3482278737(style='display: none', type='radio', name='', value='3482278737')
									input#arEduCentersFilter_119_3618748426(style='display: none', type='radio', name='', value='3618748426')
									input#arEduCentersFilter_119_1607991021(style='display: none', type='radio', name='', value='1607991021')
									input#arEduCentersFilter_119_1451625195(style='display: none', type='radio', name='', value='1451625195')
									input#arEduCentersFilter_119_562117245(style='display: none', type='radio', name='', value='562117245')
									input#arEduCentersFilter_119_3219501022(style='display: none', type='radio', name='', value='3219501022')
									input#arEduCentersFilter_119_3370295112(style='display: none', type='radio', name='', value='3370295112')
									.bx_filter_select_popup(data-role='dropdownContent', style='display: none;')
										ul
											li
												label.bx_filter_param_label(for='all_arEduCentersFilter_119_1355685096', data-role='label_all_arEduCentersFilter_119_1355685096', onclick="smartFilter.selectDropDownItem(this, 'all_arEduCentersFilter_119_1355685096')")
													| Все
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1355685096', data-role='label_arEduCentersFilter_119_1355685096', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1355685096')") Академический
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3385281874', data-role='label_arEduCentersFilter_119_3385281874', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3385281874')") Алексеевский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3200286148', data-role='label_arEduCentersFilter_119_3200286148', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3200286148')") Алтуфьевский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_547678311', data-role='label_arEduCentersFilter_119_547678311', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_547678311')") Арбат
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1470355697', data-role='label_arEduCentersFilter_119_1470355697', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1470355697')") Аэропорт
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3467282763', data-role='label_arEduCentersFilter_119_3467282763', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3467282763')") Бабушкинский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3115170269', data-role='label_arEduCentersFilter_119_3115170269', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3115170269')") Басманный
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_689087564', data-role='label_arEduCentersFilter_119_689087564', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_689087564')") Беговой
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1578472666', data-role='label_arEduCentersFilter_119_1578472666', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1578472666')") Бескудниковский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1053957439', data-role='label_arEduCentersFilter_119_1053957439', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1053957439')") Бибирево
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2816167045', data-role='label_arEduCentersFilter_119_2816167045', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2816167045')") Богородское
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_968874278', data-role='label_arEduCentersFilter_119_968874278', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_968874278')") Братеево
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2696317084', data-role='label_arEduCentersFilter_119_2696317084', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2696317084')") Бутырский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_653065828', data-role='label_arEduCentersFilter_119_653065828', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_653065828')") Василеостровский район
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_805934349', data-role='label_arEduCentersFilter_119_805934349', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_805934349')") Вешняки
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1192142235', data-role='label_arEduCentersFilter_119_1192142235', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1192142235')") Внуково
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3108635120', data-role='label_arEduCentersFilter_119_3108635120', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3108635120')") Войковский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1238707625', data-role='label_arEduCentersFilter_119_1238707625', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1238707625')") Восточное Бирюлево
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_657364051', data-role='label_arEduCentersFilter_119_657364051', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_657364051')") Восточное Дегунино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1228051844', data-role='label_arEduCentersFilter_119_1228051844', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1228051844')") Восточное Измайлово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3461165414', data-role='label_arEduCentersFilter_119_3461165414', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3461165414')") Восточный
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3058951157', data-role='label_arEduCentersFilter_119_3058951157', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3058951157')") Выборгский район
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1464099036', data-role='label_arEduCentersFilter_119_1464099036', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1464099036')") Выхино-Жулебино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_541282378', data-role='label_arEduCentersFilter_119_541282378', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_541282378')") Гагаринский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3190277609', data-role='label_arEduCentersFilter_119_3190277609', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3190277609')") Головинский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3374380415', data-role='label_arEduCentersFilter_119_3374380415', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3374380415')") Гольяново
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1344906437', data-role='label_arEduCentersFilter_119_1344906437', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1344906437')") Даниловский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_4033109394', data-role='label_arEduCentersFilter_119_4033109394', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_4033109394')") Десёновское
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3231103316', data-role='label_arEduCentersFilter_119_3231103316', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3231103316')") Дмитровский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2689675441', data-role='label_arEduCentersFilter_119_2689675441', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2689675441')") Донской
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3612737575', data-role='label_arEduCentersFilter_119_3612737575', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3612737575')") Дорогомилово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1314869661', data-role='label_arEduCentersFilter_119_1314869661', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1314869661')") Замоскворечье
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3504110611', data-role='label_arEduCentersFilter_119_3504110611', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3504110611')") Западное Бирюлево
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3079768514', data-role='label_arEduCentersFilter_119_3079768514', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3079768514')") Западное Дегунино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_962093323', data-role='label_arEduCentersFilter_119_962093323', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_962093323')") Зюзино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2805789864', data-role='label_arEduCentersFilter_119_2805789864', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2805789864')") Зябликово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3493577790', data-role='label_arEduCentersFilter_119_3493577790', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3493577790')") Ивановское
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1043703058', data-role='label_arEduCentersFilter_119_1043703058', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1043703058')") Измайлово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3206925141', data-role='label_arEduCentersFilter_119_3206925141', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3206925141')") Киевский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_798676676', data-role='label_arEduCentersFilter_119_798676676', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_798676676')") Клёновское
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1624981507', data-role='label_arEduCentersFilter_119_1624981507', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1624981507')") Кокошкино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1884414415', data-role='label_arEduCentersFilter_119_1884414415', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1884414415')") Коньково
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_123130201', data-role='label_arEduCentersFilter_119_123130201', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_123130201')") Коптево
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2657059043', data-role='label_arEduCentersFilter_119_2657059043', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2657059043')") Косино-Ухтомский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3914903669', data-role='label_arEduCentersFilter_119_3914903669', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3914903669')") Котловка
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1486743122', data-role='label_arEduCentersFilter_119_1486743122', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1486743122')") Краснопахорское
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2000430550', data-role='label_arEduCentersFilter_119_2000430550', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2000430550')") Красносельский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3872064', data-role='label_arEduCentersFilter_119_3872064', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3872064')") Крылатское
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2570208506', data-role='label_arEduCentersFilter_119_2570208506', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2570208506')") Крюково
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3996480620', data-role='label_arEduCentersFilter_119_3996480620', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3996480620')") Кузьминки
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2123000317', data-role='label_arEduCentersFilter_119_2123000317', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2123000317')") Кунцево
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_160258411', data-role='label_arEduCentersFilter_119_160258411', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_160258411')") Куркино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1766510734', data-role='label_arEduCentersFilter_119_1766510734', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1766510734')") Левобережный
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_508420120', data-role='label_arEduCentersFilter_119_508420120', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_508420120')") Лефортово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2269426082', data-role='label_arEduCentersFilter_119_2269426082', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2269426082')") Лианозово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_4030955828', data-role='label_arEduCentersFilter_119_4030955828', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_4030955828')") Ломоносовский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1848054935', data-role='label_arEduCentersFilter_119_1848054935', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1848054935')") Лосиноостровский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_421536769', data-role='label_arEduCentersFilter_119_421536769', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_421536769')") Люблино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2150200763', data-role='label_arEduCentersFilter_119_2150200763', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2150200763')") Марфино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_4147004717', data-role='label_arEduCentersFilter_119_4147004717', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_4147004717')") Марьина роща
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1737578684', data-role='label_arEduCentersFilter_119_1737578684', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1737578684')") Марьино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1748999006', data-role='label_arEduCentersFilter_119_1748999006', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1748999006')") Матушкино-Савелки
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_895529947', data-role='label_arEduCentersFilter_119_895529947', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_895529947')") Медведково Южное
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2892620385', data-role='label_arEduCentersFilter_119_2892620385', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2892620385')") Метрогородок
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3681473271', data-role='label_arEduCentersFilter_119_3681473271', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3681473271')") Мещанский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1158301524', data-role='label_arEduCentersFilter_119_1158301524', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1158301524')") Митино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_839743426', data-role='label_arEduCentersFilter_119_839743426', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_839743426')") Можайский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2869175928', data-role='label_arEduCentersFilter_119_2869175928', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2869175928')") Молжаниновский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3691189998', data-role='label_arEduCentersFilter_119_3691189998', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3691189998')") Москворечье-Сабурово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_557932278', data-role='label_arEduCentersFilter_119_557932278', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_557932278')") Московский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1447456352', data-role='label_arEduCentersFilter_119_1447456352', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1447456352')") Мосрентген
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1287392127', data-role='label_arEduCentersFilter_119_1287392127', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1287392127')") Нагатино-Садовники
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1002126313', data-role='label_arEduCentersFilter_119_1002126313', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1002126313')") Нагатинский Затон
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1534898700', data-role='label_arEduCentersFilter_119_1534898700', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1534898700')") Нагорный
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_746291866', data-role='label_arEduCentersFilter_119_746291866', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_746291866')") Некрасовка
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3044201248', data-role='label_arEduCentersFilter_119_3044201248', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3044201248')") Нижегородский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3262505910', data-role='label_arEduCentersFilter_119_3262505910', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3262505910')") Ново-Переделкино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1544648213', data-role='label_arEduCentersFilter_119_1544648213', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1544648213')") Новогиреево
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_722880131', data-role='label_arEduCentersFilter_119_722880131', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_722880131')") Новокосино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2988382009', data-role='label_arEduCentersFilter_119_2988382009', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2988382009')") Обручевский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3306694575', data-role='label_arEduCentersFilter_119_3306694575', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3306694575')") Орехово-Борисово Северное
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1437022782', data-role='label_arEduCentersFilter_119_1437022782', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1437022782')") Орехово-Борисово Южное
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_580913832', data-role='label_arEduCentersFilter_119_580913832', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_580913832')") Останкинский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_339551435', data-role='label_arEduCentersFilter_119_339551435', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_339551435')") Отрадное
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1664750685', data-role='label_arEduCentersFilter_119_1664750685', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1664750685')") Очаково-Матвеевское
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_4197664231', data-role='label_arEduCentersFilter_119_4197664231', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_4197664231')") Перово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2369025393', data-role='label_arEduCentersFilter_119_2369025393', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2369025393')") Печатники
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_324067538', data-role='label_arEduCentersFilter_119_324067538', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_324067538')") Покровское-Стрешнево
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1683476548', data-role='label_arEduCentersFilter_119_1683476548', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1683476548')") Преображенское
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_4250829310', data-role='label_arEduCentersFilter_119_4250829310', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_4250829310')") Пресненский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2321133928', data-role='label_arEduCentersFilter_119_2321133928', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2321133928')") Проспект Вернадского
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_451325177', data-role='label_arEduCentersFilter_119_451325177', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_451325177')") Раменки
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1843502191', data-role='label_arEduCentersFilter_119_1843502191', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1843502191')") Ростокино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3478077402', data-role='label_arEduCentersFilter_119_3478077402', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3478077402')") Рязановское
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_220599690', data-role='label_arEduCentersFilter_119_220599690', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_220599690')") Рязанский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3811079334', data-role='label_arEduCentersFilter_119_3811079334', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3811079334')") Савеловский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2486125616', data-role='label_arEduCentersFilter_119_2486125616', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2486125616')") Свиблово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1320741296', data-role='label_arEduCentersFilter_119_1320741296', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1320741296')") Северное Бутово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2928326787', data-role='label_arEduCentersFilter_119_2928326787', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2928326787')") Северное Измайлово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1114080077', data-role='label_arEduCentersFilter_119_1114080077', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1114080077')") Северное Медведково
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_684772987', data-role='label_arEduCentersFilter_119_684772987', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_684772987')") Северное Тушино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_172741011', data-role='label_arEduCentersFilter_119_172741011', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_172741011')") Северный
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2102190341', data-role='label_arEduCentersFilter_119_2102190341', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2102190341')") Силино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3829772479', data-role='label_arEduCentersFilter_119_3829772479', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3829772479')") Сокол
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2470608937', data-role='label_arEduCentersFilter_119_2470608937', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2470608937')") Соколиная гора
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_66952632', data-role='label_arEduCentersFilter_119_66952632', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_66952632')") Сокольники
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1962585390', data-role='label_arEduCentersFilter_119_1962585390', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1962585390')") Солнцево
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1359771359', data-role='label_arEduCentersFilter_119_1359771359', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1359771359')") Строгино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3355780965', data-role='label_arEduCentersFilter_119_3355780965', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3355780965')") Таганский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3204585459', data-role='label_arEduCentersFilter_119_3204585459', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3204585459')") Тверской
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_560366160', data-role='label_arEduCentersFilter_119_560366160', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_560366160')") Текстильщики
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1449243334', data-role='label_arEduCentersFilter_119_1449243334', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1449243334')") Теплый Стан
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3479757692', data-role='label_arEduCentersFilter_119_3479757692', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3479757692')") Тимирязевский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1060613038', data-role='label_arEduCentersFilter_119_1060613038', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1060613038')") Троицк
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3094336490', data-role='label_arEduCentersFilter_119_3094336490', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3094336490')") Тропарево-Никулино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1058043656', data-role='label_arEduCentersFilter_119_1058043656', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1058043656')") Филевский парк
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1209485214', data-role='label_arEduCentersFilter_119_1209485214', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1209485214')") Фили-Давыдково
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3508409892', data-role='label_arEduCentersFilter_119_3508409892', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3508409892')") Хамовники
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2786666162', data-role='label_arEduCentersFilter_119_2786666162', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2786666162')") Ховрино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_947761937', data-role='label_arEduCentersFilter_119_947761937', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_947761937')") Хорошево-Мневники
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1333429127', data-role='label_arEduCentersFilter_119_1333429127', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1333429127')") Хорошевский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3597914685', data-role='label_arEduCentersFilter_119_3597914685', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3597914685')") Царицыно
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_2708791979', data-role='label_arEduCentersFilter_119_2708791979', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_2708791979')") Черемушки
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_835452730', data-role='label_arEduCentersFilter_119_835452730', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_835452730')") Чертаново Северное
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1187827628', data-role='label_arEduCentersFilter_119_1187827628', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1187827628')") Чертаново Центральное
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3095948231', data-role='label_arEduCentersFilter_119_3095948231', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3095948231')") Чертаново Южное
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1361816185', data-role='label_arEduCentersFilter_119_1361816185', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1361816185')") Щербинка
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3482278737', data-role='label_arEduCentersFilter_119_3482278737', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3482278737')") Щукино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3618748426', data-role='label_arEduCentersFilter_119_3618748426', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3618748426')") Южное Бутово
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1607991021', data-role='label_arEduCentersFilter_119_1607991021', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1607991021')") Южное Тушино
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_1451625195', data-role='label_arEduCentersFilter_119_1451625195', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_1451625195')") Южнопортовый
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_562117245', data-role='label_arEduCentersFilter_119_562117245', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_562117245')") Якиманка
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3219501022', data-role='label_arEduCentersFilter_119_3219501022', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3219501022')") Ярославский
											li
												label.bx_filter_param_label(for='arEduCentersFilter_119_3370295112', data-role='label_arEduCentersFilter_119_3370295112', onclick="smartFilter.selectDropDownItem(this, 'arEduCentersFilter_119_3370295112')") Ясенево
						.clb
				.bx_filter_parameters_box.active
					span.bx_filter_container_modef
					.bx_filter_parameters_box_title(onclick='smartFilter.hideFilterProps(this)')
						span.bx_filter_parameters_box_title-text Государственное учебное заведение
					.bx_filter_block
						.bx_filter_parameters_box_container
							label.checkbox
								input#arEduCentersFilter_143_2212294583.checkbox__default(type='checkbox', name='arEduCentersFilter_143_2212294583', value='Y')
								span.checkbox__pseudo
								span.checkbox__text
									span.checkbox__key
										| Да
										span.checkbox__numeric(data-role='count_arEduCentersFilter_143_2212294583') 539
								span.checkbox__value
							label.checkbox
								input#arEduCentersFilter_143_450215437.checkbox__default(type='checkbox', name='arEduCentersFilter_143_450215437', value='Y')
								span.checkbox__pseudo
								span.checkbox__text
									span.checkbox__key
										| Нет
										span.checkbox__numeric(data-role='count_arEduCentersFilter_143_450215437') 10
								span.checkbox__value
						.clb
				.bx_filter_parameters_box.active
					span.bx_filter_container_modef
					.bx_filter_parameters_box_title(onclick='smartFilter.hideFilterProps(this)')
						span.bx_filter_parameters_box_title-text Диплом государственного образца
					.bx_filter_block
						.bx_filter_parameters_box_container
							label.checkbox
								input#arEduCentersFilter_144_4088798008.checkbox__default(type='checkbox', name='arEduCentersFilter_144_4088798008', value='Y')
								span.checkbox__pseudo
								span.checkbox__text
									span.checkbox__key
										| Нет
										span.checkbox__numeric(data-role='count_arEduCentersFilter_144_4088798008') 106
								span.checkbox__value
						.clb
				.clb
				.bx_filter_button_box.active.hidden
					.bx_filter_block
						.bx_filter_parameters_box_container
							input#set_filter.bx_filter_search_button(type='submit', name='set_filter', value='Показать')
							input#del_filter.bx_filter_search_reset(type='submit', name='del_filter', value='Сбросить')
							#modef.bx_filter_popup_result.right(style='display:none')
								| Выбрано:
								span#modef_num 0
								span.arrow
								a(href='/moskva/school?set_filter=y', onclick="BX.ajax.insertToNode('/moskva/school?set_filter=y&bxajaxid=6d66c8cd4eaf1cae50acc29c45ecce7b', 'comp_6d66c8cd4eaf1cae50acc29c45ecce7b'); return false;") Показать
			div(style='clear: both;')


