.it-stars
   .it-stars__wrap
      .it-stars__on(style="width: 88%")
      .it-stars__live
         span.it-stars__star
         span.it-stars__star
         span.it-stars__star
         span.it-stars__star
         span.it-stars__star
   .it-starst__text
      |  — 12 оценок