section.it-thems
	.it-container
		.it-all-title
			| Популярные темы
		.it-thems__wrap
			ul.it-thems__list
				li.it-thems__item
					a(href="#").it-thems__link
						| Кишечная палочка
				li.it-thems__item
					a(href="#").it-thems__link
						| Выкидыш
				li.it-thems__item
					a(href="#").it-thems__link
						| Сальмонелла
				li.it-thems__item
					a(href="#").it-thems__link
						| Прерывистый пост
				li.it-thems__item
					a(href="#").it-thems__link
						| Грипп
				li.it-thems__item
					a(href="#").it-thems__link
						| Симптомы рака легких
				li.it-thems__item
					a(href="#").it-thems__link
						| Болезнь рук и ног
				li.it-thems__item
					a(href="#").it-thems__link
						| Лейкемия
				li.it-thems__item
					a(href="#").it-thems__link
						| Рак молочной железы
				li.it-thems__item
					a(href="#").it-thems__link
						| Неходжкинской лимфомы
				li.it-thems__item
					a(href="#").it-thems__link
						| Псориаз
				li.it-thems__item
					a(href="#").it-thems__link
						| Здоровье сердца
				li.it-thems__item
					a(href="#").it-thems__link
						| Холестерин
				li.it-thems__item
					a(href="#").it-thems__link
						| Проблемы с кожей
				li.it-thems__item
					a(href="#").it-thems__link
						| Рассеянный склероз
				li.it-thems__item
					a(href="#").it-thems__link
						| Остеопороз
				li.it-thems__item
					a(href="#").it-thems__link
						| Боль в спине
				li.it-thems__item
					a(href="#").it-thems__link
						| Аллергии
				li.it-thems__item
					a(href="#").it-thems__link
						| Мигрень