section.it-thems
	.it-container
		.it-all-title
			| Популярные темы
		.it-thems__wrap
			ul.it-thems__list
				li.it-thems__item
					| Кишечная палочка
				li.it-thems__item
					| Выкидыш
				li.it-thems__item
					| Сальмонелла
				li.it-thems__item
					| Прерывистый пост
				li.it-thems__item
					| Грипп
				li.it-thems__item
					| Симптомы рака легких
				li.it-thems__item
					| Болезнь рук и ног
				li.it-thems__item
					| Лейкемия
				li.it-thems__item
					| Рак молочной железы
				li.it-thems__item
					| Неходжкинской лимфомы
				li.it-thems__item
					| Псориаз
				li.it-thems__item
					| Здоровье сердца
				li.it-thems__item
					| Холестерин
				li.it-thems__item
					| Проблемы с кожей
				li.it-thems__item
					| Рассеянный склероз
				li.it-thems__item
					| Остеопороз
				li.it-thems__item
					| Боль в спине
				li.it-thems__item
					| Аллергии
				li.it-thems__item
					| Мигрень