doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width", initial-scale=1)
        title medvisor
        link(rel="stylesheet" type="text/css" href="assets/css/owl-carousel/owl.carousel.min.css" )
        link(rel="stylesheet" type="text/css" href="assets/css/fancybox/jquery.fancybox.css" )
        link(rel="stylesheet" type="text/css" href="assets/css/swiper/swiper.min.css" )
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic', rel='stylesheet')
        link(rel="stylesheet" type="text/css" href="assets/css/styles.css" )
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
    body
        .it-main-page__wrapper
            .it-main-page__content
                include medvisor/header
                include medvisor/breadcrumbs
                include medvisor/detail-clinics
                include medvisor/detail-clinics-block
                include medvisor/doctors
                include medvisor/reviews
                //include medvisor/services
                //include medvisor/thems
                //include medvisor/news
                //include medvisor/articles


                //.it-main-page__top
                //    include medvisor/med-institute
                //.it-container
                //    .it-main-page__center
                //        .it-main-page__half.it-main-page__half--left
                //            include medvisor/sidebar
                //        .it-main-page__half.it-main-page__half--right
                //            include medvisor/clinics2
            include medvisor/footer
            include medvisor/modal-city
            include medvisor/modal-info





        script(src='assets/js/jquery-3.3.1.min.js', type='text/javascript')
        script(src='assets/js/owl-carousel/owl.carousel.min.js', type='text/javascript')
        script(src='assets/js/swiper/swiper.min.js', type='text/javascript')
        script(src='assets/js/fancybox/jquery.fancybox.js', type='text/javascript')
        script(src='assets/js/main.js', type='text/javascript')
