.page-header {
	color: $title-color;
	
	&.bg {
		&__1 {
			background:linear-gradient(135deg, #622774 0%,#c53364 100%);
		}
		
		&__2 {
			background:linear-gradient(135deg, #b48ff8 0%,#7367f0 100%);
		}
		
		&__3 {
			background:linear-gradient(135deg, #94d341 0%,#459522 100%);
		}
		
		&__4 {
			background:linear-gradient(135deg, #0ddab9 0%,#047cd4 100%);
		}
		
		&__5 {
			background:linear-gradient(135deg, #af61d0 0%,#3425AF 100%);
		}
		&__6 {
			background:linear-gradient(135deg, #e94655 0%,#A1051D 100%);
		}
		
		&__7 {
			background:linear-gradient(135deg, #4f428c 0%,#23b6d1 100%);
		}
		
		&__8 {
			background:linear-gradient(135deg, #647296 0%,#5e2c67 100%);
		}
		
		&__9 {
			background:linear-gradient(135deg, #d343ca 0%,#6d8ae6 100%);
		}
		
		&__10 {
			background:linear-gradient(135deg, #20dadb 0%,#5883e8 100%);
		}
		
		&__11 {
			background:linear-gradient(135deg, #e84e8e 0%,#600c25 100%);
		}
		
		&__12 {
			background:linear-gradient(135deg, #faca88 0%,#f38b81 100%);
		}
	}
	
	&.gr {
		&__1 {
			background: #005C97;
			background: -webkit-linear-gradient(to right, #363795, #005C97);
			background: linear-gradient(to right, #363795, #005C97);
		}
		
		&__2 {
			background: #e53935;
			background: -webkit-linear-gradient(to right, #e35d5b, #e53935);
			background: linear-gradient(to right, #e35d5b, #e53935);
		}
		
		&__3 {
			background: #5f2c82;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		
		&__4 {
			background: #7b4397;
			background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
			background: linear-gradient(to right, #dc2430, #7b4397);
		}
		
		&__5 {
			background: #a73737;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		
		&__6 {
			background: #FEAC5E;
			background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
			background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
			
		}
		
		&__7 {
			background: #6441A5;
			background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
			background: linear-gradient(to right, #2a0845, #6441A5);
		}
		
		&__8 {
			background: #ffb347;
			background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
			background: linear-gradient(to right, #ffcc33, #ffb347);
		}
		
		&__9 {
			background: #485563;
			background: -webkit-linear-gradient(to right, #29323c, #485563);
			background: linear-gradient(to right, #29323c, #485563);
		}
		
		&__10 {
			background: #00d2ff;
			background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
			background: linear-gradient(to right, #3a7bd5, #00d2ff);
		}
	}
}

