@import "../__vars";
@import "../__mixins";
@import "../smart-grid";


.it-city__wrap {
  position: relative;
  max-width: 74px;
  width: 100%;
}

.it-city__img-box {
  position: absolute;
  left: 0;
  top: 50%;
  width: 7px;
  height: 9px;
  overflow: hidden;
  margin-top: -4.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.it-city__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-city__img-box--right {
  left: auto;
  right: 0;
}

.it-city__input {
  font-size: 13px;
  padding: 16px 12px;
  color: #2C555D;
  background-color: #FAFAFA;
  width: 100%;
  line-height: 1.42;
  border: none;
  outline: none;
}

.it-city__input::-webkit-input-placeholder {
  color: #A0B0B9;
}

.it-city__input::-moz-placeholder {
  color: #A0B0B9;
}

.it-city__input:-ms-input-placeholder {
  color: #A0B0B9;
}

.it-city__input:-moz-placeholder {
  color: #A0B0B9;
}



.it-city__array{
  width: 48px; height: 48px; float: right;
  text-align: center; line-height: 48px;
  background: rgba(255, 255, 255, 0.9); color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0 rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
}
.it-city__array:hover{
  background: rgba(255, 255, 255, 0.5);
  color: inherit;
}


.it-city__list {
  width: 256px; height: auto; max-height: 240px;
  margin: 2px 0 0 1px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: hidden; overflow-y: auto;
}

.it-city__list {
  width: 100%; height: 48px;
  padding: 0 8px 0 16px;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
  line-height: 48px;
  overflow: hidden; cursor: pointer;
}
.it-city__list:hover{
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 -1px rgba(0, 0, 0, 0.15) inset;
}

/* скроем стандартную стрелку */
.it-city__input::-webkit-calendar-picker-indicator {
  display: none;
}
