@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-med-institute {
  padding-bottom: 40px;
}

.it-med-institute__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
  overflow: hidden;
  @include laptop {
    margin: 0 -5px -10px;
  }
  @include phones {
    margin: 0 -3px -8px;
  }

}

.it-med-institute__item {
  list-style-type: none;
  margin: 0 10px 20px;
  @include laptop {
    margin: 0 5px 10px;
    
  }
  @include phones {
    margin: 0 3px 8px;
  }

}

.it-med-institute__link {
  text-decoration: none;
  font-size: 18px;
  padding: 13px 30px  13px 15px;
  display: block;
  background: #179CA7;
  border-radius: 3px;
  @include laptop {
    padding: 8px 20px 8px 8px;
    font-size: 14px;
  }
  @include phones {
    padding: 5px 17px 5px 5px;
    font-size: 12px;
  }
  transition: 0.1s;
}

.it-med-institute__link:active,
.it-med-institute__link:visited {
	color: #ffffff;
	text-decoration: none;
}

.it-med-institute__link:hover {
   background-color: $hov-text;
	color: #ffffff;
	text-decoration: none;
}

.it-med-institute__inner-text {
  color: #ffffff;
  position: relative;
}

.it-med-institute__numeric {
  position: absolute;
  top: 0;
  right: -17px;
  font-size: 12px;
  color: #ffffff;
  @include laptop {
    font-size: 10px;
    right: -13px;
  }


}

