@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.modal-info {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #c3c3c3;
  padding: 40px 25px ;
  overflow: hidden;
  max-width: 500px;
  background-color: #ffffff;
  min-height: 480px;
  display: none;
}

.modal-info__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
  line-height: 1.2;
  text-align: center;
}

.modal-info__subtitle {
  font-size: 12px;
  color: #666;
  margin-bottom: 8px;
  text-align: center;
}

.modal-info__adress {
  font-size: 12px;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.it-modal-info__nav-list {
  margin: 0 0 10px;
  overflow: hidden;
    padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.it-modal-info__nav-item {
  border: 1px solid #c3c3c3;
  margin: 0 0 10px;
  list-style-type: none;
  padding-left: 0;
  max-width: 150px;
  width: 100%;
  flex-grow: 1;
  flex-basis: 100px;
}

.it-modal-info__nav-item--left {
  border-radius: 3px 0 0 3px ;
}

.it-modal-info__nav-item--right {
  border-radius: 0 3px 3px 0;
}

.it-modal-info__nav-btn {
  font-size: 16px;
  color: #000;
  display: block;
  text-decoration: none;
  transition: 0.1s;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.it-modal-info__nav-btn:active,
.it-modal-info__nav-btn:visited {
    color: #000;
	text-decoration: none;
}

.it-modal-info__nav-btn:hover {
	color: $hov-text;
	text-decoration: none;
}

.it-modal-info__nav-item.active .it-modal-info__nav-btn {
  background-color: $main-color;

}

.it-modal-info__nav-item.active .it-modal-info__nav-btn .it-modal-info__nav-text {
  color: #ffffff;
  transition: 0.1s;
}

.it-modal-info__item:not(.active) {
  display: none;
}

.it-modal-info__phone-wrap {
  margin: 0;
  padding: 0;
  max-width: 300px;
  flex-basis: 100px;
  flex-grow: 1;
}

.it-modal-info__list {
  margin: 0;
  padding: 0;
}

.it-modal-info__item {
  list-style-type: none;
  padding-left: 0;
}

.it-modal-info__phone-item {
  list-style-type: none;
  padding-left: 0;

}

.it-modal-info__phone-item:hover {
  background-color: #f5f5f5;;
  transition: 0.1s;
}

.it-modal-info__phone {
  color: #000000;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.it-modal-info__phone-link {
  text-align: center;
  color: #000000;
  font-size: 18px;
  display: block;
}

.it-modal-info__phone-link:active,
.it-modal-info__phone-link:visited {
  color: #000000;
	text-decoration: none;
}

.it-modal-info__phone-link:hover {
	color: $hov-text;
	text-decoration: none;
}

.it-modal-info__phone-wrap {
  padding: 12px 0;
}

.it-modal-info__time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.it-modal-info__time-wrap {
  margin: 0;
  padding: 0;
  max-width: 300px;
  width: 100%;
}

.it-modal-info__time-item {
  list-style-type: none;
  display: grid;
  grid-template-columns: 85px 65px 130px;
  font-size: 14px;
  color: #000000;
  grid-gap: 10px;
  transition: 0.1s;
  padding: 5px 10px;

}

.it-modal-info__time-item:hover {
  background-color: #f5f5f5;;
}
