@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-nav-main {
  height: 100%;
  width: 100%;

}

.it-nav-main__list {
  display: flex;
  margin:  0 -5px;
  padding: 0;
  flex-shrink: 1;
  flex-basis: 400px;
  flex-grow: 1;

}

.it-nav-main__item {
  margin:  0 5px;
  list-style-type: none;
  padding-left: 0;
  width: auto;


}

.it-nav-main__link {
  display: inline-block;
  padding: 15px 8px;
  color: $main-color-text;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  @include laptop {
    font-size: 16px;
    padding-left: 3px;
    padding-right: 3px;
  }
}


.it-nav-main__link:active,
.it-nav-main__link:visited {
  color: $main-color-text;
  text-decoration: none;
}

.it-nav-main__link:hover {
  color: $hov-text;
  text-decoration: none;
}

