@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

@import "../__vars";
@import "../__mixins";
.it-services {
  background-color: #D1EBEC;;
  border-bottom: 5px solid #179CA7;

}

.it-services__outer-wrap {
  padding-bottom: 50px;
  position: relative;
}

.it-services__outer-wrap:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 230px;
	height: 5px;
    background-color: #B6343C;;
}

.it-services__wrap {
  margin: 0;
  padding: 0 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  @include laptop {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include tablets {
    grid-template-columns:  1fr 1fr;
  }
  @include phones {
    grid-template-columns:  1fr;
  }
}

.it-services__item {
  width: 100%;
  padding: 0 0 30px;
  overflow: hidden;
  list-style-type: none;
  border-bottom: 1px solid #D2D2D2;
  @include phones {
    max-width: 295px;
  }
}


.it-services__img-box {
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.it-services__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-services__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
  color: #000000;
}

.it-services__desc {
  font-size: 12px;
  color: #000000;
}





