@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-thems__list {
  margin: 0;
  padding: 0;
  display: inline-grid;
  grid-template-columns:  repeat(auto-fill,  auto);
  //grid-template-row: auto;
  justify-items: start ;
  grid-gap: 20px;

}

.it-thems__item {
  list-style-type: none;
  background: #179CA7;
  border-radius: 3px;
  padding: 15px;
  font-size: 18px;
  color: #FFFFFF;

}