@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-thems {
  padding-bottom: 40px;
}

.it-thems__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
  overflow: hidden;

}

.it-thems__item {
  list-style-type: none;
  background: #179CA7;
  border-radius: 3px;
  padding: 15px;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0 10px 20px;

}

